[2015-11-19 19:23] paulcsmith opened #7 "Extract helpers for fake servers"
https://github.com/paulcsmith/bamboo/blob/master/test/lib/bamboo/mandrill_adapter_test.exs#L17

Could probably make a new hex package out of this actually

[2015-11-19 21:01] scrogson commented on #7
How about just using [Bypass](https://github.com/pspdfkit-labs/bypass) for that?

[2015-11-19 21:03] paulcsmith commented on #7
I checked that out, but I didn't like how the assertions were made. I prefer to make the assertions at the end of the test instead of mixing the assertions with the response. I also have some ideas for making things a removing some of the boilerplate that Bypass requires. Maybe it will be worse, maybe it will be better :) We'll see

[2015-11-19 21:12] paulcsmith opened #8 "Improve folder naming"
@scrogson suggested improving the folder names for clarity

move `mandrill_adapter.ex` to `lib/bamboo/adapters/mandrill.ex`
same for the  `test_adapter.ex`
make `lib/bamboo/adapters/mandrill/email.ex`
and `lib/bamboo/adapters/test/mailbox.ex`
and update the module names accordingly

[2015-11-19 21:15] scrogson commented on #7
Have a look at what I've done here: https://github.com/scrogson/oauth2/blob/master/test/support/test_helpers.ex#L6-L54

[2015-11-19 21:28] paulcsmith commented on #7
Very cool. I like what you've done. I will probably use some of those ideas. One thing I want to try to do is introduce as little extra API as possible and mostly stick to using regular plugs and the Plug.Router. We'll see. I haven't really thought it through all the way, but I'll try out on this project and see how it works :)

[2015-11-20 04:42] paulcsmith opened #10 "Raise helpful error when you try to send something that's not an email struct"

[2015-11-20 04:43] paulcsmith opened #11 "Ensure SentEmail restarts when there is an error"

[2015-11-20 04:45] paulcsmith opened #12 "Raise helpful error if you forget to start the test_mailbox"

[2015-11-20 04:55] paulcsmith opened #13 "Raise if there is no html or text unless you explicitly set them both to empty"
This makes it easier to find out when you accidentally forget to render the body, but still allows you to leave it empty if you really want to.

The reason that you might want to set empty html and text bodies is that some adapters may be used to render emails from another service. For example, you can use Mandrill to render responsive templates that are rendered on their server, so you would not

[2015-11-20 04:57] paulcsmith opened #14 "Add instructions so that the test adapter is reset after each test"
Or maybe tie the test mailbox to the process so that each new process has a fresh mailbox? Not really sure quite yet

[2015-11-20 05:01] paulcsmith opened #15 "Make TestMailbox.one wait"
If you use deliver_async TestMailbox.one will often fail because the email hasn't quite been sent yet. The Mailbox should wait a bit. Maybe using `receive`

[2015-11-24 02:08] paulcsmith opened #17 "Change TestMailbox to SentEmail"

[2015-11-24 02:09] paulcsmith opened #18 "Change TestAdapter to LocalAdapter"
That way it can be used for test and dev environments

[2015-11-25 03:28] #17 closed

[2015-11-25 03:30] paulcsmith commented on #18
Closed by #19

[2015-11-25 03:30] #18 closed

[2015-11-25 03:31] paulcsmith commented on #15
Instead of waiting this just adds the email to the sent email list immediately

[2015-11-25 03:31] #15 closed

[2015-12-01 19:50] paulcsmith opened #21 "Add docs to all the functions/modules people will use"

[2015-12-09 01:46] paulcsmith opened #22 "Add assert_one_email_sent/1"
Would work something like this

[code]

[2015-12-09 04:41] paulcsmith opened #23 "Add Bamboo.Test"
This will

* alias Bamboo.SentEmail
* import Bamboo.Formatter.format_recipient
* Add a setup block that calls `SentEmail.reset`

[2015-12-09 17:15] paulcsmith opened #24 "Should deliver and deliver_async noop if all recipients are blank?"
While using this in one of our applications we had to do something like this

[code]

Maybe deliver_async should throw a warning? Maybe an option to allow empty_recipients?

[code]

Maybe this could be done at the mailer level via an option?

[code]

[2015-12-09 17:16] paulcsmith opened #25 "Have a way to whitelist emails from the config"
Great for use in staging environments

[code]

[2015-12-09 17:49] paulcsmith opened #26 "Remove implicit MyApp.EmailView and let them set it as an option"
https://github.com/paulcsmith/bamboo/blob/master/lib/bamboo/phoenix.ex#L14

Remove that and let people set it like this

[code]

Raise helpful error if `render_with` is not set

[2015-12-09 21:56] paulcsmith opened #27 "Raise if the Mandrill response is not successful"

[2015-12-10 05:20] #27 closed

[2015-12-10 05:22] paulcsmith commented on #14
Closing in favor of #23  Use `use Bamboo.Test`

[2015-12-10 05:22] #14 closed

[2015-12-10 05:27] #8 closed

[2015-12-10 05:28] paulcsmith commented on #10
Going to close this for now. So far I haven't actually had any issues with this

[2015-12-10 05:28] #10 closed

[2015-12-14 16:54] paulcsmith opened #31 "Raise if API key is nil in MandrillAdapter"

[2015-12-15 03:56] #23 closed

[2015-12-15 04:00] #31 closed

[2016-01-08 21:06] #26 closed

[2016-01-08 21:37] paulcsmith opened #35 "More explicit phoenix template rendering"
Right now view rendering uses Phoenix.View.render_existing which is ok except that it can make it easy to think you're sending an email with both formats, but in reality you had a typo in a template name and you only send a text or html version. Instead I think this should be more explicit so you get more immediate and helpful feedback.

Right now you do: `render("template_name")` which will rende

[2016-01-10 02:12] paulcsmith opened #36 "Use more reliable async task"
I think Task.Supervisor.start_child should do the trick. Task.start_link links to the caller process and if the caller process dies, so does the background task. This is probably not preferred.

[2016-01-23 03:45] #35 closed

[2016-01-23 03:58] paulcsmith opened #38 "Change nil on %Email{from} to %UnknowMailbox{}"
`nil` doesn't really mean much so it can be hard to figure out where it's coming from and what it means. Instead the default should be a struct like `%UnknownMailbox{}` or `%UnsetMailbox{}`. Something along those lines

[2016-01-23 04:07] paulcsmith commented on #24
Maybe it should raise only if the to, bcc or cc is `nil` since by default those are empty lists.

If you do something like a wrote above it would still be an empty list, whereas setting it to `nil` probably means there was a problem where you expected the recipient to be something and it was accidentally nil.

[2016-01-23 05:03] paulcsmith opened #39 "Add a function to easily add merge vars using the MandrillAdapter"
The merge vars can be pretty handy but it's a pain to use them. Something like

[code]

[2016-01-29 16:41] paulcsmith opened #41 "Rename Formatter.format_recipient and pass type of email"
Instead have `Bamboo.EmailAddress.format` It should also have a second argument that is passed a keyword list (or maybe a map) that contains what type of address it is (from, cc, bcc, to)

That way you can do something like

[code]

[2016-02-03 02:10] paulcsmith commented on #38
I changed my mind on this, at least for now.

[2016-02-03 02:10] #38 closed

[2016-02-03 02:10] #36 closed

[2016-02-03 03:27] #41 closed

[2016-02-03 03:57] paulcsmith opened #44 "Add callbacks for mailer adapters"

[2016-02-03 04:46] paulcsmith opened #46 "Add plug that shows list of emails in SentEmail"
Great for viewing sent emails in dev

[2016-02-03 04:52] #22 closed

[2016-02-03 04:55] paulcsmith opened #47 "assert_delivered_email with options"
Usually `assert_delivered_email(Email.welcome_email(user)` will work fine, but there are cases when it won't

I think I should add `assert_delivered_email(subject: "Something")` in case you can't/don't want to assert against a whole email.

**This would be helpful if parts of the email have state that would make it difficult to test the whole email.** For example, if a token is generated in the te

[2016-02-03 05:04] #44 closed

[2016-02-03 05:09] paulcsmith opened #49 "Update README"
Add actual code

[2016-02-03 22:23] paulcsmith opened #50 "Make it easier to render emails with layouts"
See https://github.com/phoenixframework/phoenix/blob/740bda4250f17944ae12661e2905724cf0fd00df/lib/phoenix/view.ex#L170 for how to do that. Maybe allow setting a default layout `use Bamboo.Phoenix, view: EmailView, layout: {LayoutView, "email.html"}`. Also add function like `put_layout`?

[2016-02-08 16:05] paulcsmith commented on #50
This is in progress and almost complete

[2016-02-08 16:45] paulcsmith opened #51 "Don't parse all config opts at compile time"
Instead grab the adapter and other info (API key, etc.) at runtime. This makes it easier to change during tests, or while using in iex. That way you can switch to a TestAdapter or LocalAdapter long enough to send some tests emails and then switch it back if you wanted to. Also would clean up the Bamboo tests

EDIT: I'm not *totally* sure about this. Probably going to hold off on it for a bit

[2016-02-08 17:30] paulcsmith opened #52 "Define a start_link so that Async deliveries can be supervised with Task.Supervisor"

[2016-02-08 17:40] paulcsmith opened #53 "Add ability to add attachments"
This is probably going to come a bit later since I have never needed to send an attachment in an email, it's always a link back to the app. I know this is useful to people though so it should be added.

[2016-02-08 19:30] paulcsmith opened #54 "Consider renaming deliver_async to deliver_later or background_deliver"
When switching to #52 it might make sense to rename the function

[2016-02-09 02:45] #50 closed

[2016-02-09 04:23] paulcsmith opened #56 "Use struct!/2 when creating emails"
So it raises if you pass keys that don't exist in the Bamboo.Email struct. Also required elixir 1.2

[2016-02-10 14:05] stevedomin opened #58 "Should the Mandrill adapter use one of the API client available on Hex"
It feels like it would be nicer if the adapters were not coupled to the bamboo codebase.

What do you think?

[2016-02-10 14:10] stevedomin commented on #58
I meant the underlying "driver" for the adapter. That way bamboo benefits from the latest improvements in the API and their client libraries (less maintenance work for you).

[2016-02-10 14:13] stevedomin commented on #54
`deliver_later!` seems good

[2016-02-10 14:29] stevedomin opened #59 "Don't use Task.async in deliver_async"
`Task.async` is linking the task process with the parent process so if the latter dies first it will kill the former.

For example, with Phoenix it would mean that a HTTP request could finish before we actually had a chance to send the email.

Elixir 1.2 introduced [Task.async_no_link](http://elixir-lang.org/docs/stable/elixir/Task.Supervisor.html#async_nolink/2) which could be used here.

Happy t

[2016-02-10 15:34] paulcsmith commented on #58
@stevedomin I thought about doing that, but decided against it for a couple of reasons

* If you want to update just the Mandrill dependency in your app, but Bamboo hasn't been updated, you could have conflicts and have to override the mandrill version, which *might* cause issues. Or if you update Bamboo and it requires a new version of Mandrill, you may not want to update the rest of your app to

[2016-02-10 15:41] paulcsmith commented on #59
I admit that Supervisors and Task are a weakspot for me, so I'm not totally sure of the way to go. I definitely see that Task.async is a problem though. I think what we may want to do is use Task.Supervisor. Maybe something like:

[code]

I *think* this might be what we want because really I don't want the delivery to be "async" I want it to be in the background and you just send it off, you don't

[2016-02-10 15:51] paulcsmith commented on #49
Closed by #57

[2016-02-10 15:51] #49 closed

[2016-02-10 15:52] paulcsmith commented on #21
Closed by #57

[2016-02-10 15:52] #21 closed

[2016-02-10 16:46] paulcsmith commented on #58
Chatted on Slack. I may move adapters out of Bamboo core, but for now I'll keep them here for simplicity

[2016-02-10 16:46] #58 closed

[2016-02-10 16:47] paulcsmith opened #60 "Add SMTPAdapter"
Possible libraries to use

* https://github.com/nurugger07/hermes
* https://github.com/antp/mailer

[2016-02-10 19:42] paulcsmith opened #61 "If delivery fails when calling deliver_later, log the error"
So you can see that something went wrong

[2016-02-10 22:06] paulcsmith opened #62 "Only compile Bamboo.Phoenix if Phoenix is loaded"
So that Phoenix is not required to use Bamboo

[2016-02-11 01:11] #62 closed

[2016-02-11 01:18] paulcsmith commented on #52
Closing. More discussion is in #59

[2016-02-11 01:18] #52 closed

[2016-02-11 01:33] paulcsmith commented on #47
This might be another helpful solution, given the scenario in the original issue, where asserting against the whole email would not work because parts of the email body have a randomly generated token.

[code]

This assertion would check that an email was delivered with the subject, to, from, headers, etc., but would not check the fields in `skip` option.

Any thoughts on this @blakewilliams @drap

[2016-02-11 01:33] #56 closed

[2016-02-11 01:44] BlakeWilliams commented on #47
What about grabbing the sent email and using `assert` like you do in the README?

[code]

Could we make `email` be the delivered email?

[2016-02-11 01:48] paulcsmith commented on #47
My thought is that you should unit test the email like in the readme, but then in integration tests you should avoid repeating the subject, and things like that because it leads to shotgun surgery. If you change the subject you would have to change it in the unit test and anywhere else you used it in integration tests. The benefit of `assert_delivered_email` is that you don’t have that repetition.

[2016-02-11 01:56] paulcsmith commented on #54
:+1:

[2016-02-11 02:04] #54 closed

[2016-02-11 02:06] paulcsmith opened #66 "Remove API key from errors in MandrillAdapter"
That API key should be removed from the errors if it is anything but nil or an empty string. We don't want keys accidentally leaked into the logs

[2016-02-11 03:41] paulcsmith commented on #24
Decided on: https://github.com/paulcsmith/bamboo/pull/40#discussion_r52556512

[2016-02-11 03:42] #24 closed

[2016-02-11 04:02] #66 closed

[2016-02-11 17:32] sorentwo commented on #59
This issue, and the discussion about it on IRC yesterday, was perfectly timed. I'm just now starting to integrate email into an application and would like to make use of Bamboo.

I was surprised to see that delivery wasn't being handled by a server and used Task.async instead. I've looked through the source and the structure a bit and think it would really benefit from `Bamboo.Mailer` being a GenS

[2016-02-11 18:35] paulcsmith commented on #59
@sorentwo Thank you very much! I hope Bamboo works well for you. I would definitely appreciate contributions, but I am unsure of the best direction to. My thought is that I'd like to do something like this:

[code]

[2016-02-11 20:25] paulcsmith commented on #59
Chatted with @sorentwo for a bit on iRC and I think something like this would work: https://gist.github.com/paulcsmith/7e716a215775873a30ac

Bamboo would define a default deliver_later strategy using Task.Supervisor. Adapters can choose to implement a deliver_later function or not. You can create a custom adapter if you want to do something different when delivering later (see example at the end)

[2016-02-15 19:53] paulcsmith commented on #61
This will be handled by the strategy

[2016-02-15 19:53] #61 closed

[2016-02-15 19:54] paulcsmith commented on #11
Should be handled by #71 since the start function now starts Bamboo.SentEmail under a supervisor

[2016-02-15 19:54] #11 closed

[2016-02-15 19:54] #12 closed

[2016-02-15 20:11] paulcsmith commented on #47
Decided to stick with just the keyword options for now. Still considering adding something like `get_deliver_email` and/or a way to easily skip checking the body. Still not sure that's a good idea so I'm holding off on it.

[2016-02-16 23:19] #59 closed

[2016-02-16 23:22] paulcsmith opened #73 "Add nice error when you forget the options in Bamboo.Phoenix"
`use Bamboo.Phoenix` should be raise a helpful error if the view is not added. Almost done with this

[2016-02-16 23:38] paulcsmith opened #74 "Fix options with assert_delivered_email"
It should normalize the email addresses, and should only match against the keys that are in the options. For asserting just what you pass in, do something like this

[code]

[2016-02-16 23:38] paulcsmith opened #75 "Switch from `Bamboo.EmailAddress` to two item tuples"
Much easier to work with, and easier to see what's going on at a glance. I've started work on this and it's almost done

[2016-02-17 00:41] paulcsmith opened #76 "Remove format_email_address from use Bamboo.Test"

[2016-02-17 00:42] paulcsmith opened #77 "Remove use Mandrill.Email"
It only imports two modules and most people won't use this that much (usually will have just a couple email modules). So I think it's better to just let people import the modules they need.

This is almost done

[2016-02-17 17:25] paulcsmith opened #78 "Change DeliverImmediatelyStrategy to ImmediateDeliveryStrategy"

[2016-02-17 17:25] paulcsmith opened #79 "Don't require a specific type of deliver_later_strategy when using LocalAdapter"

[2016-02-17 18:19] #79 closed

[2016-02-17 18:31] paulcsmith commented on #78
Closed by #81

[2016-02-17 18:31] #78 closed

[2016-02-20 18:03] paulcsmith commented on #76
I decided to leave this in for now

[2016-02-20 18:03] #76 closed

[2016-02-20 18:08] #73 closed

[2016-02-20 18:08] #77 closed

[2016-02-20 18:08] #75 closed

[2016-02-20 21:17] paulcsmith opened #84 "Make sure task worker is added"
I wonder if there should be some way to test that the task worker is added so you don't deploy to prod and find out that you forgot to add the Bamboo.TaskSupervisor to your supervisor.

[2016-02-21 22:59] stevedomin opened #85 "Add Mailgun adapter"
Add an adapter for the [Mailgun API](https://documentation.mailgun.com/)

I'm starting on this one.

[2016-02-22 14:51] paulcsmith commented on #85
Right on. Just a heads up, I only plan to keep Mandrill, Local and Test adapters in Bamboo core for now. If you ping me when you are done with a Mailgun adapter I can make a chart/list and add it to the README. I'll add all external adapters there so people can find them :)

[2016-03-04 00:35] mtwilliams commented on #85
What's the reasoning behind only supporting Local, Test, and Mandrill adapters in core? @paulcsmith

[2016-03-04 16:01] paulcsmith commented on #85
@mtwilliams Great question. I'm leaving Mandrill in for now because it's what we use in production so I know that it works. It also makes it so that if I change how Bamboo works I can quickly and easily test that the MandrillAdapter also works. If I add Mailgun (or whatever other adapter) it would mean I would have more adapters to update and I couldn't test them out easily since we don't use it i

[2016-03-04 20:06] mtwilliams commented on #85
I see. My thought process was why single out Mandrill. That makes total sense.

[2016-03-09 11:01] philipgiuliani commented on #85
Is there already for a adapter as library online? I would like to work on the SMTP adapter, but its my first library so i need some example how to structure it!

[2016-03-09 14:13] paulcsmith commented on #85
@philipgiuliani that would be awesome if you worked in an am to adapter. You can check out the mandrill adapter in this repo: https://github.com/paulcsmith/bamboo/blob/master/lib/bamboo/adapters/mandrill_adapter.ex

Also here are some basic docs on implementing an adapter: https://github.com/paulcsmith/bamboo/blob/master/lib/bamboo/adapter_behaviour.ex

I hope that helps. Feel free to comment here

[2016-03-09 17:56] mtwilliams commented on #85
I wrote [an adapter for SendGrid.](https://github.com/mtwilliams/bamboo-sendgrid) If you have any questions, feel free to ping me.

[2016-03-09 19:22] paulcsmith opened #87 "Add send grid adapter to readme"
https://github.com/mtwilliams/bamboo-sendgrid

[2016-03-09 19:24] paulcsmith commented on #85
Nice work @mtwilliams. I'll add that to the README :D

[2016-03-09 20:30] mtwilliams commented on #87
![](http://media.salon.com/2016/02/leonardo_dicaprio_oscar-620x412.jpg)

[2016-03-10 15:23] ricn commented on #85
@stevedomin Any progress on the Mailgun adapter?

[2016-03-11 20:26] ricn commented on #85
@stevedomin If you don't have the time to do it right now I'm willing to create an adapter for Mailgun next week.

[2016-03-18 21:34] #87 closed

[2016-03-21 17:09] paulcsmith commented on #85
@ricn I think you can go ahead and do the Mailgun adapter if you'd like :) Ping me if/when it's done and I can add it to the README :)

[2016-03-21 18:33] paulcsmith opened #89 "Remove deliver_later_strategy and add delivery_strategy options. Add deliver_now for delivering right away"
I think this makes the library a bit easier to use. That way `deliver` uses the strategy you want and if you want to deliver right away then you use `deliver_sync`. This essentially flips how the current mailer works.

Still not 100% sold on the name though. Function name ideas:

* deliver_now
* deliver_sync
* deliver_blocking (though it's not really blocking so maybe a bad name)

[2016-03-21 18:41] paulcsmith commented on #46
This might be best to add to a `bamboo-plug` library so there is no requirement to use Plug. Not sure though

[2016-03-22 00:06] gshaw commented on #89
Unless there is a good reason to use a different name I'd suggest leveraging what Rails is using and go with `deliver_now`.

[2016-03-22 00:10] paulcsmith commented on #89
@gshaw I wasn't aware that Rails changed to deliver_now. I kind of like that so I think that might be fine. So `deliver` will use whatever strategy you decide and `deliver_now` will deliver immediately and wait for a response until it returns.

How does that sound?

[2016-03-22 00:13] gshaw commented on #89
Rails went with `deliver_now` and `deliver_later` to match ActiveJob's `perform_now` and `perform_later` methods.  I find those names are very explicit and easy to work with.
http://edgeapi.rubyonrails.org/classes/ActionMailer/MessageDelivery.html

[2016-03-22 00:16] paulcsmith commented on #89
The (potential) problem with `deliver_later` is that it doesn't necessarily deliver later. The deliver_later call could be done with a TaskSupervisor which will start delivery immediately, but does so in the background. Maybe that difference doesn't really matter in practice though and having `deliver_later` and `deliver_now` is a good distinction.

[2016-03-22 02:34] paulcsmith opened #91 "Add Bamboo.Phoenix.put_layout that accepts an atom for the template name"
And use it for both the html and text layouts so you don't need to call `put_text_layout` and `put_html_layout`

[2016-03-22 03:12] #89 closed

[2016-03-22 03:13] paulcsmith commented on #89
Thanks for the feedback @gshaw. I went with deliver_later and deliver_now

[2016-03-22 03:25] paulcsmith opened #93 "Add specs for functions and structs"

[2016-03-22 18:33] paulcsmith opened #94 "Change deliver_now to deliver in adapters and adapter behaviour"

[2016-03-22 21:45] #94 closed

[2016-03-23 09:53] #7 closed

[2016-03-23 09:53] #51 closed

[2016-03-23 10:21] paulcsmith opened #97 "Rename MandrillEmail to MandrillHelper"
I think this is more clear. MandrillEmail makes it sound like it is it's own struct or something, but really it's helpers for modifying a Bamboo.Email struct.

[2016-03-25 19:59] paulcsmith opened #99 "Add helpful message when calling deliver/1"
Let people know they need to use delive_now or deliver_later

[2016-03-25 20:12] #46 closed

[2016-03-25 20:24] #99 closed

[2016-03-25 20:39] paulcsmith commented on #97
Closed by #101

[2016-03-25 20:39] #97 closed

[2016-03-25 20:39] paulcsmith commented on #47
See #74

[2016-03-25 20:39] #47 closed

[2016-03-25 20:40] paulcsmith commented on #25
Still need to figure out if this is best in core or if it should be something else

[2016-03-25 20:40] #25 closed

[2016-03-26 15:19] paulcsmith opened #102 "Consider changing to `send_now` and `send_later`?"
I originally went with `deliver` because Elixir uses `send` when talking about sending messages. But the more I think about it, the more I think most people will alias their Mailer and call it like `Mailer.deliver_now/send_now`. I don't think they'll import the Mailer. So I think that it might make sense to rename everything with `deliver*` to `send*`. It's easier to type and I think it's the comm

[2016-03-27 15:12] drapergeek commented on #102
I think I'd vote for sticking with `deliver`, `send` seems to be used for more "programming" type interfaces and I'd rather stick to that.

[2016-03-28 13:50] paulcsmith commented on #102
@drapergeek Good call. I think I'll leave it as-is

[2016-03-28 13:50] #102 closed

[2016-03-29 14:55] aselder commented on #60
I'm really looking forward to this adapter, since we use AWS's SMTP servers. I may try and start hacking on this. Anybody want to help?

[2016-03-29 14:59] paulcsmith commented on #60
@aselder That would be really great. I haven't needed SMTP so it would be awesome if you worked on it in a real world scenario. I think @BlakeWilliams started work on it, but I'm not sure how far he got

[2016-03-29 20:02] paulcsmith opened #104 "Add better failure message when asserting"
Let people know what emails were in the mailbox. If there are no emails in the mailbox, let them know that it could be because they are doing feature tests or calling `deliver_*` from another process. Let them know that they can set a specific test process to send to. Related to #105

* If there are no emails.

[code]

* If there is at least one email, we can assume the processes are working corre

[2016-03-29 20:11] paulcsmith opened #105 "Allow users to set the test process to send to when testing"
Sometimes the process that you send an email from is not the test process. This happens for feature tests with hound, or if you deliver an email inside of another process (like inside of a Task).

1) Add option to set process name to send to `use Bamboo.Test, process_name: :invitation_controller_test`. This would tell Bamboo to send the messages to a process with that name. It would also name the

[2016-04-01 15:40] paulcsmith commented on #104
Going to tackle this before #105 since #105 will require custom assertion helpers outside to get messages from processes other than `self`

[2016-04-01 17:00] paulcsmith commented on #84
Maybe something like: https://github.com/elixir-lang/elixir/blob/v1.2.3/lib/ex_unit/lib/ex_unit/case.ex#L191

[2016-04-01 21:37] paulcsmith opened #110 "Add example of what a layout file would look like"
Add an example of what a layout file would look like when used with `Bamboo.Phoenix`. I always forget how to call `render` with the assigns and I'm sure others will have to look it up as well. Might be worth including an example to save some time and make it easier to use the library.

[2016-04-04 06:18] jandillmann commented on #85
:+1: for a Mailgun adapter :smile:

[2016-04-04 08:47] ricn commented on #85
I haven't got the time to implement it yet so if anyone want to step up and do it that would be great :-)

[2016-04-04 13:34] paulcsmith commented on #85
I have a few other priorities before this so if someone wants to tackle this that would be great. You can check out the MandrillAdapter as an example https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/adapters/mandrill_adapter.ex. If someone decides to tackle this please note it here so two people don't work on it at once :D

[2016-04-04 13:34] paulcsmith commented on #60
@aselder How are things going with the SMTP adapter. If you need any help feel free to ping me :)

[2016-04-07 12:57] paulcsmith commented on #85
I've started on this

[2016-04-08 22:19] lpil commented on #60
:+1: I would love to be able to use this lib with AWS's SMTP service.

[2016-04-11 13:02] #105 closed

[2016-04-15 18:18] paulcsmith commented on #104
Closed by #109

[2016-04-15 18:18] #104 closed

[2016-04-15 18:27] paulcsmith commented on #60
@anellis This is a trickier issue, but it would be *super* helpful to have in Bamboo. If you have the time, creating an SMTP adapter with https://github.com/antp/mailer or https://github.com/nurugger07/hermes would be super awesome.

I'd be happy to help with anything you need. Here are some docs for getting started: https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/adapter.ex

[2016-04-15 18:34] paulcsmith commented on #91
@anellis This is a smaller one that could be useful. Right now we have functions for `put_text_layout` and `put_html_layout`. I'd also love to have `put_layout(emails, {MyApp.LayoutView, :email.html})`

This would basically call

[code]

Might be a good started task if you're interested!

[2016-04-15 19:06] anellis commented on #91
@paulcsmith Awesome! I'll take a look and let you know if I have any questions

[2016-04-18 02:07] princemaple opened #126 "Deliver callbacks?"
@paulcsmith what do you think about callbacks for `deliver_later` success/failure?

Looking at the code, I can see how to handle `deliver_now`, with a `try`
But for `deliver_later`, there doesn't seem to be a way to handle success/failure.

One thing that can come close is to implement a new strategy that does generic handling of errors.
However, if we want business logic specific handling of succ

[2016-04-18 23:17] princemaple commented on #85
FYI all https://github.com/thoughtbot/bamboo/pull/125, in case you want to review the implementation.

[2016-04-20 19:25] cloud8421 commented on #93
Hello, I can pick this one up if you're ok with it, I think I can work on that in the next few days.

[2016-04-20 19:26] paulcsmith commented on #93
@cloud8421 That would be wonderful! Thank you so mcuh

[2016-04-21 03:11] paulcsmith commented on #85
Closed by #125 thanks @princemaple!

[2016-04-21 03:11] #85 closed

[2016-04-21 03:12] paulcsmith opened #129 "Add Mailgun adapter to README and description"

[2016-04-21 05:34] princemaple commented on #85
@paulcsmith if you could make a new release, I'd be able to test this package in a real app soon.

[2016-04-21 13:51] paulcsmith commented on #85
@princemaple That would be awesome if you could test it out a bit more. I have a couple more things I want to do for the next release.

What we've been doing is using the github master branch if there are features we need right away

[code]

That should let you test out the adapter without waiting for hex. LMK if that works for what you need :)

[2016-04-21 13:58] princemaple commented on #85
@paulcsmith yeah I'm aware of that. I was being lazy, not wanting to add git to my docker image :)

:+1: all good, release when you feel it's ready.

[2016-04-21 13:59] paulcsmith commented on #85
Haha ok, yeah that makes sense. I’ll try to get it out this Friday or next :)

[2016-04-21 14:01] princemaple commented on #85
Thanks!

On Thu, 21 Apr 2016 at 23:59 Paul Smith <notifications@github.com> wrote:

[2016-04-21 14:10] Andorbal commented on #85
I'm actually looking for a non-Mandrill adapter for my app, so I can give this a try tonight.  Is there something specific you want tested?

[2016-04-21 14:13] paulcsmith commented on #85
@Andorbal Thank you! Really anything would be fine. If it sends email it's probably fine. @princemaple Tested it, and the unit tests seem to be pretty comprehensive.

If you do run into anything though, please open up an issue :)

[2016-04-21 14:24] Andorbal commented on #85
Will do!

On Thu, Apr 21, 2016 at 9:13 AM, Paul Smith <notifications@github.com>
wrote:

[2016-04-21 16:51] paulcsmith opened #130 "Change Bamboo.Test, process_name: :foo, to Bamboo.Test, shared: true"
This makes it so that people don't have to come up with a process name and it is a bit more clear about when it is used and why it is used.

- [x] Change config from `process_name: :whatever` to `shared: true`
- [x] Store `test_process_name` as `self()`, and remove the line for registering the process: https://github.com/thoughtbot/bamboo/blob/c46485e67884565338788e010fd8577c1e755aa7/lib/bamboo/te

[2016-04-21 16:52] paulcsmith opened #131 "Start Bamboo.TaskSupervisorStrategy automatically"
This makes it easier to get started and this way it won't conflict if two applications both try to use TaskSupervisorDeliveryStrategy

Also raise if `TaskSupervisorDeliveryStrategy.child_spec` is called.

It might also be cool to make it so you can configure the supervisor options

[code]

[2016-04-23 15:21] paulcsmith commented on #126
I think this is an interesting idea, but I'm not sure how to best implement this. Could you give some example use cases for this feature?

[2016-04-23 15:21] paulcsmith commented on #84
This will be unnecessary once #131 is completed

[2016-04-23 15:21] #84 closed

[2016-04-23 23:09] princemaple commented on #126
How do you handle errors right now? For `deliver_later`.

[2016-04-25 01:07] keichan34 commented on #60
I'd like to see this too -- I'm currently using `mailer` but this looks like it'd be easier to use in my case. My 2¢ would be to not use `mailer` as the SMTP backend but instead use `gen_smtp` (`mailer` uses `gen_smtp` behind the scenes anyways) or hermes (although I can't provide any advice on that since I haven't used it before).

[2016-04-26 02:25] paulcsmith opened #134 "Add option to configure Task.SupervisorStrategy"
`config :bamboo, :task_supervisor_delivery_strategy, max_restarts: 10, restart_strategy: :transient`

This can be done post 1.0 since it would not be backwards incompatible

[2016-04-26 04:40] kdisneur commented on #60
I started a PullRequest, using `mailer`, any help/feedbacks would be very welcome: https://github.com/thoughtbot/bamboo/pull/135 :)

@keichan34 I looked at this issue yesterday and your comment was not present yet. It's a shame because you seem right, using `gen_smtp` would be a good idea:

1. it would allow people to use `mailer` with a different configuration, if needed by another part of the ap

[2016-04-26 13:35] #91 closed

[2016-04-26 13:52] #130 closed

[2016-04-26 14:01] #131 closed

[2016-04-26 14:13] paulcsmith opened #138 "Release 0.5"
* Update changelog
* Push docs and package to hex
* Add Mailgun to README

[2016-04-28 21:37] anellis commented on #13
@paulcsmith I can take care of this if you'd like.

To make sure I understand correctly, you want it to be that if you just did something like
`new_email() |> Bamboo.TestAdapter.deliver` it would raise an error stating that you haven't rendered a text or email body, correct?

[2016-04-29 20:36] paulcsmith opened #141 "Rename SendgridAdapter to SendGridAdapter"
As discussed here: https://github.com/thoughtbot/bamboo/pull/140#discussion_r61640713

We should still have the old misspelled one, but `deliver_now` and `deliver_later` should raise and let people know that it has been renamed. This would be removed once Bamboo is at 1.0

[2016-04-29 20:45] paulcsmith opened #142 "Add screenshot of BambooEmailPreviewPlug"
<img width="1194" alt="bamboo-email-preview-screenshot" src="https://cloud.githubusercontent.com/assets/22394/14929083/bda60b76-0e29-11e6-9e11-5ec60069e825.png">

[2016-04-29 20:48] #138 closed

[2016-04-29 20:53] #142 closed

[2016-04-29 20:58] paulcsmith commented on #129
Closed by #140

[2016-04-29 20:58] #129 closed

[2016-04-29 21:00] paulcsmith commented on #85
I just released Bamboo 0.5.0 to hex. This includes the new Mailgun adapter. Here is a full list of changes: https://github.com/thoughtbot/bamboo/blob/master/CHANGELOG.md

Eventually all adapters will be moved into their own repo, but for now it's in Bamboo core

[2016-04-29 23:31] knewter opened #146 "Nil error should happen on normalized emails"
If you send an email with nil as the to, it raises a nice error.

If you instead use {"some name ", nil}, no such error occurs. Seems like it should

[2016-04-29 23:36] paulcsmith commented on #146
Thank you so much! This should definitely be caught by Bamboo

[2016-05-02 00:58] martinos opened #149 "Error message when invalid configuration not clear."
I was trying `bamboo` for a project and I have spent some time trying to fix the following compilation error:

[code]
I think that this error might be common so I think that I would be nice to fix that.

[2016-05-03 17:37] paulcsmith commented on #60
An SMTPAdapter can be found at: https://github.com/fewlinesco/bamboo_smtp Thanks @kdisneur!

Feel free to give the SMTPAdapter a shot and LMK how it goes :) @keichan34 @lpil and @aselder

[2016-05-03 17:37] #60 closed

[2016-05-03 18:03] #149 closed

[2016-05-04 20:15] paulcsmith commented on #13
@anellis Yeah exactly, but I'm not totally sure that this should be done yet. I think it requires a bit more thought since I'd like to make it so that you can render an empty body if you want to, but maybe that doesn't matter. I'll ping you when I have something a bit more concrete!

[2016-05-06 21:00] paulcsmith opened #152 "Add Josh's excellent Bamboo episode from DailyDrip.com to README"
It's free and awesome: https://www.dailydrip.com/topics/elixir/drips/bamboo-email

[2016-05-11 16:40] paulcsmith opened #154 "Strip assigns from the email when testing"
We should strip `assigns` (or set it to something like `:assigns_removed_for_testing`). The reason for this is that the assigns are not important to the email, they only matter for rendering the html/text body. So as long as the bodies are right it's fine.

The problem is that sometimes the assigns don't exactly match if you are preloading in the test setup, or *not* preloading in the test setup.

[2016-05-11 16:42] paulcsmith opened #155 "When Elixir 1.3 is required, use String.myers_difference to show diffs for emails"
Sometimes emails can become quite large and it's hard to tell what is different. We could use http://elixir-lang.org/docs/master/elixir/String.html#myers_difference/2 to show the differences between emails. This will make it easier to spot typos and things like that.

[2016-05-12 20:07] #152 closed

[2016-05-16 14:02] #154 closed

[2016-05-16 17:55] tdcain89 opened #161 "Add message_id to Email struct definition"
This may be a need unique to my situation, but it would help to be able to set a Message-ID prior to delivering an email so that the value can be saved to a database table and can be referenced later. Something similar is available in the [Ruby Tmail Library](https://github.com/mikel/tmail/blob/eb43e766cbad6125508f95223b8c0bc89cfdcff1/lib/tmail/interface.rb#L573) .

[2016-05-16 17:58] paulcsmith commented on #161
Can you give an example use case for this? For now you can do something similar to what's done in `Bamboo.SentEmail` https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/sent_email.ex#L115

You can use the `private` key of the email to put an id of your choosing. You could this for all your emails before sending them in a `base_email` function in your mailer

[code]

Does that help?

[2016-05-16 18:21] tdcain89 commented on #161
Use case:

(Mandrill, MailGun, etc.) return a message id in their response. I'd like to pump that value into ```%Bamboo.Email{message_id: "___"}``` when available and then save the contents of the struct to a table. If I identify that an email has bounced, I can take the ID of that bounced email and quickly lookup the details of that email in the database, reconstruct it and attempt to resend.

Do

[2016-05-16 18:22] paulcsmith commented on #161
Ah yes that makes sense. I think that is something that would be adapter specific, but I can see how that would be useful. I think this is a good idea, but I’m not sure when I can get to it. I’ll do what I can though :)

[2016-05-17 01:18] rafroehlich2 opened #162 "Accept x-smtpapi field in SendGrid adapter."
Reason: To support transactional templates.

Could potentially be implemented by encoding any elements in the private email map. Using an additional module, like the `MandrillHelper`, the building of `x-smtpapi` could be abstracted.

[2016-05-25 21:11] smdern opened #166 "adapter config + conform doesnt work"
We use conform for setting sensitive application configuration e.g. Api Keys. Because the config is vetted during compilation any mailer configuration wouldn't be loaded yet by conform.

[2016-05-25 21:13] paulcsmith commented on #166
@smdern I'm not familiar with Conform so I'm not sure I understand the problem. Is the config not available at compile time when using Conform? Could you paste an example of what you prod.exs file looks like and what your mailer looks like so I could get a better understanding of the problem? Thanks!

[2016-05-25 22:11] smdern commented on #166
Conform takes a `.conf` and maps to the app's config during startup.
https://github.com/bitwalker/conform

config/prod.exs
[code]
config/myapp.schema.exs
[code]

[2016-05-25 22:14] smdern commented on #166
I have a branch that supports generating the config during compile time (default) and during runtime via a `dynamic_config` option https://github.com/thoughtbot/bamboo/pull/167

[2016-05-27 18:30] paulcsmith commented on #93
Closed by #150 and #164. Thanks @cloud8421

[2016-05-28 00:49] geofflane commented on #166
👍
Conform modifies the Elixir sys.config when the application is started which allows you to compile your application one time with Exrm and deploy it to multiple different environments, each with their own configurations. e.g. Staging and Production.

Without this you would have to compile a different version that would work in a staging environment

[2016-05-28 00:58] paulcsmith commented on #166
Thanks for the PR. This makes sense but I wonder if it would be best to choose just one way rather than having two ways of parsing the options. I think it might be better to just parse at runtime instead

What do you think about that?

[2016-05-28 01:00] geofflane commented on #166
@paulcsmith I agree with just parsing at runtime. Unless there was some significant performance cost (which I would doubt).

[2016-05-28 01:01] smdern commented on #166
Okay. I'll re-submit a PR w/ only runtime. I don't think any of the tests really cared about it being handled during runtime.

[2016-05-28 01:06] smdern commented on #166
https://github.com/thoughtbot/bamboo/pull/170

[2016-05-29 21:46] pyladune opened #171 "Content invisible except on gmail"
Is there a trick (or a bug ?) in the fact that content of HTML emails are just not displayable in emails clients except gmail ?

[2016-05-30 09:07] pyladune commented on #171
ok. this concerns only SMTP message so probably more a concern for bamboo_smtp adapter

[2016-06-01 14:47] jerodsanto commented on #110
This would be super useful. Specifically, it'd be nice to see how we can use route helpers in layouts/templates since `@conn` isn't a thing.

_(I have a decent/simple sign in email w/ layout example I can provide once it's 💯 . Just let me know if/where you want it.)_

[2016-06-01 14:48] paulcsmith commented on #110
@jerodsanto It would be wonderful if you could paste an example here or open up a PR. Especially if it includes using `MyApp.Endpoint` in URL helpers so that people can see how to use those. Thanks for offering to help!

[2016-06-01 14:49] paulcsmith commented on #171
Yes I think opening an issue on Bamboo SMTP would be the best bet here. Thank you!

[2016-06-01 14:49] #171 closed

[2016-06-01 14:59] jerodsanto commented on #110
@paulcsmith happy to PR. Where do you want it the example to go? `bamboo/lib/bamboo/phoenix.ex`?

There are a few files...

[2016-06-01 15:03] paulcsmith commented on #110
Yes, Bamboo.Phoenix would be perfect!

[2016-06-04 15:52] Qqwy opened #174 "Bamboo.EmailPreviewPlug doesn't pass content-type (it renders as text in Chrome)"
I'm on Linux Mint 17.2.

Using FireFox(45.0), the Bamboo.EmailPreviewPlug looks like this:

![screenshot from 2016-06-04 17 50 09](https://cloud.githubusercontent.com/assets/5345745/15800555/d034560c-2a7c-11e6-87a8-43f9dcffed0e.png)

However, in chrome (Chromium  49.0.2623.108)  it looks like this:

![screenshot from 2016-06-04 17 50 41](https://cloud.githubusercontent.com/assets/5345745/15800557/

[2016-06-11 22:10] bratsche opened #175 "Bamboo.EmailPreviewPlug could warn if the wrong adapter is configured"
I'm stupid and copied-pasted the config from my `test.exs` into my `dev.exs` and was surprised initially when emails did not appear in my previewer.

It would be nice if the email preview plug would notice if you have the wrong adapter configured and tell you.

[2016-06-13 13:59] paulcsmith commented on #175
I was thinking about this and maybe the best thing to do is keep it simple and include a short list of reasons there might not be email when previewing. So something like

* **Not using Bamboo.LocalAdapter**. Make sure you have your mailer set up to use Bamboo.LocalAdapter or the emails will not show up here.
* **You may have restarted your server**. When the server restarts the emails are cleared

[2016-06-13 14:00] paulcsmith commented on #166
Closed by #170

[2016-06-13 14:00] #166 closed

[2016-06-13 15:06] bratsche commented on #175
That makes sense. I'll send you a pull request tonight.

[2016-06-20 19:56] #175 closed

[2016-06-20 19:58] paulcsmith opened #181 "Style the "No email sent page""
See issue #177

Here is what it looks like now:

<img width="800" alt="screen shot 2016-06-20 at 3 57 22 pm" src="https://cloud.githubusercontent.com/assets/22394/16208352/b13f0c76-36ff-11e6-94cf-896af8f331db.png">

I think it doesn't quite flow right. The "reasons" text should likely be aligned to the left as well

[2016-06-20 20:01] paulcsmith commented on #181
I did this in the browser so just need to actually do this in the code. Something like

<img width="726" alt="screen shot 2016-06-20 at 4 00 38 pm" src="https://cloud.githubusercontent.com/assets/22394/16208447/30cf2afc-3700-11e6-84fb-8a8acd3e9155.png">

[2016-06-20 20:16] paulcsmith opened #182 "Send an empty body or placeholder text when previewing an email with no html_body"
#172 added support for loading HTML previews in an iframe. The problem is that emails that have no html_body result in an error because the response body cannot be nil:

<img width="966" alt="screen shot 2016-06-20 at 4 15 18 pm" src="https://cloud.githubusercontent.com/assets/22394/16208870/34a63b78-3702-11e6-8c02-79ad6603a322.png">

The line of code that causes the issue is here: https://github.

[2016-06-23 01:14] StevenXL commented on #181
Hello - I am trying to address this in PR #183. That PR is currently failing but I will address it on the PR rather than on the issue.

[2016-06-24 15:22] #146 closed

[2016-06-24 15:25] #93 closed

[2016-06-24 20:27] derekprior opened #187 "Warnings when compiling under Elixir 1.3"
[code]

[2016-07-01 19:03] paulcsmith commented on #181
Closed by #188

[2016-07-01 19:03] #181 closed

[2016-07-01 19:17] paulcsmith commented on #126
@princemaple I don't handle errors right now for `deliver_later`. If I need to handle the error and display to the user then I would use `deliver_now` otherwise it gets way to tricky. So if you need some kind of immediate response I would use deliver_now and handle errors returned by it. If you want to handle errors from `deliver_later` then I would create a new Bamboo.Strategy for sending that ha

[2016-07-01 19:17] #126 closed

[2016-07-01 19:30] paulcsmith commented on #110
Closed by #173

[2016-07-01 19:30] #110 closed

[2016-07-01 19:31] paulcsmith commented on #162
The PR for this is #163

[2016-07-01 19:37] #182 closed

[2016-07-01 20:36] paulcsmith commented on #174
@Qqwy Thanks for reporting this. I'll try to tackle this myself, but if someone else wants to take a swing at it, that would be wonderful!

[2016-07-02 15:42] codyjroberts commented on #174
I can't seem to reproduce this.

Chrome Version 51.0.2704.79
Phoenix 1.2.0
Bamboo 0.6.0

[2016-07-03 21:17] bigcurl opened #193 "Content Display Problem in Apple Mail"
The following mail does not display content in Apple Mail. The content is displayed on Googles Gmail Web site though.

    new_email(
      to: "test@gmail.com",
      from: "test@example.com",
      subject: "Testing Bamboo",
      html_body: "<h1>Hey</h1><p>Check out this email or else.</p>",
      text_body: "# Hey\n\nCheck out this email or else."

![bildschirmfoto 2016-07-03 um 23 16 52](http

[2016-07-03 21:24] paulcsmith commented on #193
@bigcurl I'm not sure this is a problem with bamboo or not. Sounds like it might be a problem with the email itself. Can you paste the full code including which adapter is being used?

[2016-07-04 06:22] bigcurl commented on #193
You'll find a small project here https://github.com/bigcurl/bamboo_gmail_test that I used to send the mail. Files of interest are
* `config/config.exs` where `Bamboo.SMTPAdapter` is defined.
* `lib/send_gmail.ex` where the mail creation code is defined.

Mail is send by running `iex` and `SendGmail.Email.welcome_email |> SendGmail.Mailer.deliver_later`

[2016-07-05 19:41] bigcurl commented on #193
@paulcsmith Is the code sufficient to reproduce the problem?

[2016-07-05 20:04] paulcsmith commented on #193
@bigcurl Yes that helps a lot. I think this is a problem with bamboo_smtp or gen_smtp (which bamboo_smtp relies on). I would open an issue on [bamboo_smtp](https://github.com/fewlinesco/bamboo_smtp) since they may be able to help more. I don't use the SMTP version so I haven't had much experience with it.

If you open an issue there and there is no response, please comment here and I can try to ta

[2016-07-05 20:04] #193 closed

[2016-07-05 22:12] facto opened #194 "ESpec helpers"
Is there any interest in this? If so, I'll contribute a module (`Bamboo.Spec`, perhaps).

[2016-07-07 19:28] paulcsmith commented on #194
@facto I hadn't heard of ESpec before. I think this is a great idea, but since I don't use it and no one else at thoughtbot uses it, I don't think we would be the best maintainers for this.

What do you think about making a `bamboo_espec` library? I'd be happy to put a link in the README. That way people can find it, and it will be better maintained by people that actually use ESpec. Thoughts?

[2016-07-07 19:46] paulcsmith commented on #174
Hmm, I wonder if the issue is that @Qqwy has the plug in a pipeline that sets the content type? @Qqwy can you show the router file so we can see if there might be something there that leads us to figuring out this bug?

[2016-07-07 20:10] facto commented on #194
Definitely! I'll send a PR with a link in the README when it's ready. Cheers.

[2016-07-07 20:10] #194 closed

[2016-07-14 02:33] geofflane opened #196 "Need a common Exception type"
Adding this for discussion mostly.

Each of the individual Adapters defines its own Exception module/struct. That means if you want to catch the exceptions thrown by `deliver_now` you have to use one specific to the Adapter that's currently configured for use. That makes `Bamboo.Mailer` a leaky abstraction since you have to change the error handling if you change the adapter.

e.g.:

[code]

Havin

[2016-07-14 12:34] geofflane commented on #187
I didn't see this warning when I checked out and did a clean compile with Elixir 1.3. Is it possible that you had old dependencies built with a previous Elixir version?

[2016-07-14 14:36] paulcsmith commented on #187
I think it only shows up when being included in a project and recompiling. In dev and test I don’t thin it shows up because phoenix is a dependency of Bamboo for those environments.

[2016-07-22 22:19] smdern opened #197 "ex_machina is a prod dep"
https://github.com/thoughtbot/bamboo/blob/master/mix.exs#L53

[code]

[2016-07-22 22:31] smdern commented on #197
https://github.com/thoughtbot/bamboo/pull/198

[2016-07-23 00:53] #197 closed

[2016-07-24 23:25] nauger opened #200 "Configuring app at runtime with exrm+conform"
We're now using exrm and conform to build releases, but provide configuration at runtime.

It _looks_ like the configuration that is set (in prod.exs) is baked into the compiled result, such that we can't change this setting when our Phoenix Endpoint boots.

[2016-07-29 14:53] paulcsmith commented on #200
@nauger This should be fixed in master and will go out in the next release. Can you give master a try and see if that works for you?

[2016-07-29 14:54] paulcsmith commented on #174
Fixed by #203

[2016-07-29 14:54] #174 closed

[2016-07-29 14:54] paulcsmith commented on #174
Thanks for submitting the issue @Qqwy. The fix will go out in the next release!

[2016-07-29 15:06] paulcsmith commented on #200
I'm going to close this for now, but please reopen if it's still an issue for you! :)

[2016-07-29 15:06] #200 closed

[2016-08-09 17:50] asiniy opened #206 "No documentation how to preview email in real email managers"
I haven't found any documentation how can I export sending HTML to somewhere and then open it not in browser but in real email messengers like Thunderbird. I presume this way exists, but how can I do that?

[2016-08-09 17:55] paulcsmith commented on #206
There is no way to preview in a real email client (that I know of). The way to do this would be to use a real adapter (like SMTP or Sendgrid) and actually send yourself an email. I hope that helps!

[2016-08-09 17:55] #206 closed

[2016-08-25 13:19] svileng opened #208 "GMail renders only text template"
I'm using Bamboo `0.7.0` and Phoenix `1.2.1` and I have the following code:

[code]

In OSX Mail and iOS Mail app I get the HTML versions of the email; however, in GMail and Google Inbox, only the text version renders. Here's the original message, sent via SendGrid (without actual emails):

[code]

Any ideas how to solve this are appreciated!

[2016-08-25 16:44] smdern opened #209 "Email Preview to support Mandrill templates"
RIght now if you hit the email preview plug you can see an email was sent, but if using Mandrill templates then the content is empty (since text + html wasn't used).

 If we could preview how Mandrill rendered the template that would be awesome, but could be a considerable effort. I'd be happy w/ just seeing the json that was sent to Mandrill.

[2016-09-02 14:17] paulcsmith commented on #208
Hmm my guess would be that this is something to do with the email itself and not with Bamboo. I would try posting this on Stackoverflow or in the Elixir room. There most be something in the HTML email that Gmail just doesn't like, but I'm not sure what. I'm going to close this, but if anyone has ideas, feel free to comment here.

[2016-09-02 14:17] #208 closed

[2016-09-02 15:02] paulcsmith commented on #209
I'm not totally sure if I'll make this a priority, but I do think this is an interesting idea. I'm not sure of the best way to handle this. Maybe when viewing the email we could check if `html_body` and `text_body` are empty. If that's the case just show the full email struct so that you can inspect what was sent? I think that could be helpful even if you aren't using Mandrill templates.

For now

[2016-09-10 19:30] endersstocker opened #212 "Email IDs in local adapter are case-sensitive"
This makes the Email Preview unusable behind an endpoint with lowercase path rewrite (a common practice).

[2016-09-16 15:18] paulcsmith commented on #212
Closed by #213

[2016-09-16 15:18] #212 closed

[2016-09-30 11:32] jbernardo95 opened #217 "MandrillHelper documentation bug ?"
I was checking the documentation when I came across this example:

[code]

Isn't the `merge_vars` example wrong ?

Shouldn't it be something like this:

[code]

Or is it me not understanding what is going on here ?

[2016-09-30 14:22] paulcsmith commented on #217
You're right, the example was not correct. Thanks for submitting the issue!

[2016-09-30 14:22] #217 closed

[2016-10-02 14:08] craigp opened #220 "deliver vs deliver! (and the raising of errors from the adapters)"
Just wanted to discuss this before opening a PR - I've been using bamboo and it's Sendgrid adapter, but one thing I noticed was that when you call `deliver_now/0` (and by extension `deliver/2` on the adapter) and something fails on the post to Sendgrid's API it raises an `ApiError`. This isn't really the behaviour I'd expect - in my case I'd like to react to errors by reporting on them and then po

[2016-10-07 14:11] #187 closed

[2016-10-07 17:28] jbernardo95 commented on #196
@geofflane I believe that the tuple alternative is the most elixirish like.

As I am learning elixir, I would be happy to open a PR addressing this, @paulcsmith can I get your input on this ? Would this be something for the 1.0 milestone (or even 2.0) ?

[2016-10-07 17:52] #39 closed

[2016-10-08 14:53] StevenXL commented on #161
Hello. I'm looking for an Elixir project to regularly contribute to in order to become a better Elixir developer. I thought I would contribute a PR for this issue as it seems @paulcsmith has decided it's a good idea to implement it.

However, I don't see how this feature is possible in a non-blocking way, and it would require a change in the API of [`Bamboo.Mailer.deliver_now/3`](https://github.co

[2016-10-14 21:37] sbrink opened #221 "Add option to open new email with LocalAdapter automatically"
If you're testing workflows locally, it would be nice to open new mails in a new tab.

**Why?**

Even if you have tests, you sometimes want to go through your application manually. In our application we have support for passwordless login. It's really annoying to leave a tab open for http://localhost:4000/sent_emails.

**Solution**

An easy solution would be to add a config option to the LocalAdap

[2016-10-15 05:18] schurig commented on #221
+1 for a config option

[2016-10-15 12:09] paulcsmith commented on #221
This is a very interesting idea. I'm definitely open to a PR and I think that a config option would be great. Something like "open_emails_in_browser".

Thanks for the awesome idea!

[2016-10-15 15:54] KillerCodeMonkey commented on #221
+1 nice idea!

[2016-10-15 17:08] sbrink commented on #221
I added a pull request for this option: #222.

This is manually testing in virtual boxes for Windows, Linux (Ubuntu) and macOS.

Any ideas how to test this properly?

[2016-10-18 10:06] tslcjames opened #223 "Add option for using proxy in mailgun adaptor"
Hi,
I try to use mailgun adaptor with proxy, but there is not option for that
Add the option in mailgun adaptor here, https://github.com/tslcjames/bamboo/commit/d10fb1d51737d1b505de5462a2e25988f13744b4
could we have some option like that?

[2016-10-18 14:14] paulcsmith commented on #161
@StevenXL Those are some excellent points. It seems like this could be quite tricky. I'll have to think about this some more. I'll probably have time on Friday to respond with some ideas!

[2016-10-18 14:16] StevenXL commented on #161
@paulcsmith No problem. Looking forward to sharing ideas on Friday.

[2016-10-20 15:05] hdcos commented on #53
yes please, my business needs it, and currently mailgun works but doesn't support utf8 so cannot put it in production

[2016-10-24 14:25] jbernardo95 commented on #196
@paulcsmith Up

[2016-10-24 14:39] paulcsmith commented on #196
I think a common exception type is a great idea. I don't think that it should return `{:ok, response}` or `{:error, response}` because it's far too easy to forget to match on `{:ok, _}` and get unhanded and unnoticed exceptions.

[2016-10-24 14:57] jbernardo95 commented on #196
Makes sense, I will do a draft on this and make a PR after to get your input.

[2016-10-24 15:21] paulcsmith commented on #196
Awesome. Thank you so much @jbernardo95!

[2016-10-25 13:47] jbernardo95 commented on #196
@paulcsmith Here it is ^

[2016-10-28 23:03] jacklalley opened #226 "Getting a process error on Mailer.Deliver"
Using `{:bamboo, "~> 0.7"}`

When I call`Mailer.deliver_later` or `Mailer.deliver_now` I get a process issue. At first I thought it was to do with my openssl version but I upgraded that to the latest version. Here is my bamboo setup.

Config.exs (only included relevant part)

[code]

Mix.exs (tried to only include relevant code)

[code]

My email.ex and mailer.ex (both located in lib)

email.ex

[

[2016-11-03 19:46] jbernardo95 commented on #74
@paulcsmith What do you mean by options ?

This ?
[code]

[2016-11-03 19:53] paulcsmith commented on #74
Yes exactly :) The feature did not work quite right so I believe I removed it, or at the very least removed docs so people didn't use it

[2016-11-03 19:55] jbernardo95 commented on #74
Ok, I see.

This would be backwards compatible as well, right ? Accepting an `%Email{}` or a keyword list with parameters to compare.

[2016-11-03 20:07] paulcsmith commented on #74
Yes that is correct. It should accept either of those two options

[2016-11-03 22:54] jbernardo95 commented on #74
@paulcsmith 👍

I will open a pr regarding this :)

[2016-11-03 23:04] jbernardo95 commented on #74
@paulcsmith I have been digging through the code.

If we use the `assert_received({:delivered_email, unquote(email_params)})` method as you suggested we will lose the custom `flunk_with_email_list` error message, or we will have make all those helper functions public for it to keep working.

Something like this:

[code]

What do you think of this ?

[2016-11-06 19:48] andre1sk commented on #226
Had similar error went away after upgrading to 19.1

[2016-11-07 09:05] strangeworks commented on #226
@andre1sk @jacklalley could you provide your OS information, because notsup error might be caused because of incompatible OS arch.

[2016-11-07 14:27] andre1sk commented on #226
OS X 10.11.6
had issues with Erlang Solutions package esl-erlang_18.3-1-osx-10.10_amd64.dmg
switched to  19.1 available from brew and problem went away

[2016-11-07 21:24] jbernardo95 commented on #74
@paulcsmith Up

[2016-11-07 21:26] paulcsmith commented on #74
@jbernardo95 I think maybe another function should be added then. Something like `assert_delivered_with`. So you'd use it like `assert_delivered_with(subject: "Welcome to the app")`

Does that help/answer the question?

[2016-11-08 07:11] explorer2309 opened #227 "A possible bug in documentation?"
I am Phoenix/Elixir newbie. I am trying to follow the documentation
here: http://www.phoenixframework.org/docs/sending-email
and here: https://lpil.uk/blog/sending-email-via-smtp-with-elixir-phoenix/

I appreciate these are not your project documentation. Apologies for seeking help for my confusion to this forum.

My code is same as that in the documentation above. But, when I try to send email fr

[2016-11-08 07:16] explorer2309 commented on #227
Ignore me. I was being an idiot :(

[2016-11-08 07:16] #227 closed

[2016-11-08 14:56] jbernardo95 commented on #74
@paulcsmith Kind of, what I was saying is that if we declare `assert_delivered_email` as a macro we will have to make `flunk_with_email_list` public.

The other option we have is to put the `import ExUnit.Assertions` in the `__using__` macro and that way we don't need the macro.

Does that clarify ?

[2016-11-08 19:01] paulcsmith commented on #74
I think making `flunk_with_email_list` public and declaring `@doc false` to it would probably work ok :D

[2016-11-08 23:24] jbernardo95 commented on #74
Yep it does ! Didn't know about hiding methods with `@doc false` but it is perfect for this case.

[2016-11-09 18:21] jbernardo95 commented on #74
@paulcsmith Here is a draft ^, take a look and tell me what you think :)

[2016-11-14 09:58] jbernardo95 commented on #220
@craigp Related discussion: #196

[2016-11-17 13:43] jbernardo95 commented on #74
@paulcsmith Up.

[2016-11-22 09:57] michalvalasek commented on #53
Any news on this issue guys?

[2016-11-28 15:12] a12e opened #232 "Support for mail headers in Mailgun adapter"
According to [Mailgun documentation](https://documentation.mailgun.com/api-sending.html#sending) one can set custom mail headers by adding a field prefixed with `h:` in the HTTP request:

With Bamboo we set headers with the `Email.put_header/3` function. They are stored in the `headers` map of the `Email` struct. But the Mailgun adapter doesn't make use of them at the moment.

Would it be possible

[2016-12-07 20:45] optikfluffel opened #233 "Getting emails from TestAdapter"
Is there a way to get the emails sent through [`Bamboo.TestAdapter`](https://hexdocs.pm/bamboo/Bamboo.TestAdapter.html)?

I'm trying to test a passwordless `SessionController` in which I generate a [`Phoenix.Token`](https://hexdocs.pm/phoenix/Phoenix.Token.html) and send it out via email without storing it anywhere. It would be cool to be able to catch these emails and read the tokens to test the

[2016-12-08 03:59] erincat opened #234 "Bamboo.Formatter not implemented"
I have a code in in my mac OSX laptop that I want to run in windows.

I copied all of the codes and ran the same line in iex:
iex> MyApp.Mailer.deliver_now MyApp.Email.sample_email('example@example.com')

But I get this in windows:
** (Protocol.UndefinedError) protocol Bamboo.Formatter not implemented for 99
    (bamboo) lib/bamboo/formatter.ex:1: Bamboo.Formatter.impl_for!/1
    (bamboo) lib/bamb

[2016-12-08 08:30] optikfluffel commented on #234
Hey @erincat,
could you try wrapping your email address into `"` instead of `'` since in Elixir single quotes indicate [char lists](http://elixir-lang.org/getting-started/binaries-strings-and-char-lists.html#char-lists) and I'm guessing you want to use a string here.

[2016-12-08 19:02] paulcsmith commented on #233
@optikfluffel I think the best way to handle this might be to do a unit test on the email. That way you can do something like:

[code]

Then in your integration tests you can use the new feature in #228 to test that the email with the correct subject is sent. Either that or use a fake token during test so it's always the same. Then you can use regular `assert_delivered` and pass it an email. If yo

[2016-12-08 20:52] optikfluffel commented on #233
The unit test I already had ^^
Using the `:subject` for integration testing, when #228 is ready, sounds fine.

Thanks :)

FYI: To test my sign in mechanism, since it only checks if the `:token` is younger than a minute and then uses the signed content to get the user out of the database, I simply generate a brand new one inside the test so I don't rely on mail things there (which feels somewhat cl

[2016-12-08 20:52] #233 closed

[2016-12-08 21:42] erincat commented on #234
Yay! It works! thanks @optikfluffel

I also tried this one in the command line (not in iex),
my_app>mix run -e "MyApp.Mailer.deliver_now MyApp.Email.sample_email('example@example.com')"
but I get the same error, so I tried changing it to
my_app>mix run -e "MyApp.Mailer.deliver_now MyApp.Email.sample_email("example@example.com")"
but now I get "invalid character '@' in identifier"

[2016-12-08 21:44] paulcsmith commented on #234
@erincat So the issue is resolved? If so I'll go ahead and close this

[2016-12-08 21:46] erincat commented on #234
@paulcsmith I still have one last question though, about the invalid character '@' in identifier.

[2016-12-08 21:50] paulcsmith commented on #234
I think it is getting confused the unescaped quotes. I believe adding `\` before the `"` around the email could fix the issue. Alternatively you could use `iex -S mix` or just `iex` (depending on where you're running it) and do it from there. That's usually what I prefer doing

[2016-12-08 21:59] erincat commented on #234
Tried it but I get (TokenMissingError). Is there no other way for me to run this code without having to go to iex first?

[2016-12-08 22:02] paulcsmith commented on #234
@erincat I'm about to head out for the day so you may want to try Elixir Slack or Elixir forums to get more info. That will probably be the best place to get help, especially since this doesn't appear to be a Bamboo specific issue.

I'm going to go ahead and close this for now. If you Slack/forums can't help, feel free to comment here even though it's closer

[2016-12-08 22:02] #234 closed

[2016-12-08 22:29] davekapp commented on #53
We would definitely like to take advantage of this as well, so another +1 from me.

[2016-12-12 11:21] jbernardo95 commented on #232
@a12e Opened a PR regarding this, can you take a look and see if this is what you requested ?

[2016-12-13 18:19] #74 closed

[2016-12-14 04:37] bgeihsgt opened #236 "Phoenix rendering can break from a clean install"
I made this comment on https://github.com/thoughtbot/bamboo/pull/214 but I should probably open a formal issue for this.

I recently upgraded to latest at master found the PR above may have caused a problem when installing all dependencies from scratch in my phoenix project. Here's a repro using my test suite:

[code]

Any of my tests rendering emails then fail with the "phoenix is required" error

[2016-12-18 10:33] a12e commented on #232
Yes, exactly. Good job 👍

[2016-12-21 19:38] shawnbro opened #237 "Specify root domain for email links"
Is there any way to programmatically specify the root domain which should be used when creating links in emails?

(Something similar to what's specified here in Rails ActionMailer http://guides.rubyonrails.org/action_mailer_basics.html#generating-urls-in-action-mailer-views)

[2016-12-23 20:50] wojtekmach opened #238 "MyApp.Email vs MyApp.Emails in README"
I noticed that README is using both `MyApp.Email` and `MyApp.Emails` - do you have a recommendation how to name the module? Obviously it's up to the user but I think it would be good to be consistent.

PS one merit of calling it `MyApp.Emails` is that it won't clash with `MyApp.Email` schema if one would ever need it (e.g. user could have multiple email addresses)

[2016-12-27 16:25] jbernardo95 commented on #238
@wojtekmach As you said it is up to the user to decide.

However I agree with you, I think `MyApp.Emails` is a better name, and the `README.md` is indeed inconsistent.

If you happen to have a large number of emails I suggest splitting them by several modules , for example `MyApp.CustomerEmails`, `MyApp.ProductEmails`, and so on, always appending `Emails` to the name of the module.

[2016-12-27 16:26] jbernardo95 commented on #238
@wojtekmach @paulcsmith Opened a PR to fix the inconsistency ^

[2017-01-04 15:20] snewcomer commented on #236
same here

[2017-01-04 15:21] paulcsmith commented on #236
I think what I'm gong to do is extract the phoenix parts to a `bamboo_phoenix` library. That way the condition logic is removed and that should fix the issues. I've been on vacation but I'll tackle this next week!

[2017-01-04 15:21] #238 closed

[2017-01-04 16:22] bgeihsgt commented on #236
Great to hear, thanks @paulcsmith!

[2017-01-05 17:57] jbernardo95 commented on #237
@shawnbro Bamboo uses `Phoenix.View.render_to_string` function to render Phoenix views.

So you have two options: you either specify the full URL on the template, or you create your own `link` helper which gets the root url from somewhere (if Phoenix `link` helper doens't do this already, I am not familiarised enough with Phoenix to know that, but a with a quick search should be something easy to

[2017-01-05 18:07] paulcsmith commented on #237
Yes I believe this is beyond the scope of Bamboo, and is part of Phoenix if that's what you want. You can use the regular link helpers and pass your endpoint to the url helper.

[code]

Just make sure you set the correct host for the endpoint in `config/prod.exs` :)

If you're not using Phoenix then I would make a function that generates URLs with the domain you want. I'm going to close this, but

[2017-01-05 18:07] #237 closed

[2017-01-06 15:31] #232 closed

[2017-01-06 15:35] paulcsmith commented on #220
Closing this. I left a comment here: https://github.com/thoughtbot/bamboo/issues/196#issuecomment-255759381 addressing why there is no tagged tuple version of this function. Thanks for posting though. I appreciate the thoughts!

[2017-01-06 15:35] #220 closed

[2017-01-06 15:36] paulcsmith commented on #162
Closed by #163

[2017-01-06 15:36] #162 closed

[2017-01-06 15:51] #236 closed

[2017-01-06 15:53] paulcsmith commented on #236
I decided to keep Bamboo Phoenix here for now and remove the Phoenix checks. I'll likely split it apart later, but this should work for now 👍

Let me know if the latest on master fix the issues for you

[2017-01-16 09:06] tlvenn commented on #209
Why not use the '/templates/render.json' API endpoint to get the rendered template ?

[2017-01-16 23:36] odiumediae opened #247 "Mailgun Adapter Configuration"
I'm sorry, if I'm doing something wrong, but I've been fighting with this for two hours now, and I'm not able to make out what the actual problem is. Maybe it's a bug, maybe I'm an utter idiot.

I'm trying to use the Mailgun adapter, just like it's done in the example in the [documentation](https://hexdocs.pm/bamboo/Bamboo.MailgunAdapter.html). I'm absolutely positive that the credentials are corr

[2017-01-17 21:13] paulcsmith commented on #247
Hi @odiumediae, I don't personally use that adapter so I'm not sure. This is the first I've heard about an issue with the Mailgun adapter. I would try StackOverflow or the Elixir Slack room.

Also, maybe @princemaple knows something about it since he was the primary author of the Mailgun adapter

[2017-01-17 21:14] paulcsmith commented on #226
@andre1sk Glad that fixed the issue! Thanks for posting this. I hope this also helps others in the future. Going to go ahead and close this now. Thanks!

[2017-01-17 21:14] #226 closed

[2017-01-17 21:25] princemaple commented on #247
What did you set as the domain?
301s appear mostly when there's an error in the URL.
And we build the URL from base uri and domain config. Base uri is hard coded, so I'd assume it's your domain.

[2017-01-17 23:21] odiumediae commented on #247
Hi @paulcsmith, and thank you for replying.

Also thank you, @princemaple. I did set the exact domain given in the Mailgun backend, with the protocol (https). I tried it without the protocol, and leaving out the domain (https://api.mailgun.net). Whatever I try, it just won't work. I'm working from a local machine, by the way (but as I understand it should work anyway).

I appreciate any help, here

[2017-01-17 23:25] princemaple commented on #247
The domain is supposed to be the one that you have put into mailgun and you want to send emails from, e.g. "yourdomain.com", and yes without the protocol.

[2017-01-17 23:32] odiumediae commented on #247
@princemaple: I don't know how I could miss that while looking at the source. My mistake was keeping the `v3/` part of the URI in my domain environment variable.

Thank you very much for your help, and I'm honestly sorry for having wasted your time with this rather simple problem. I must have had blinders on.

[2017-01-17 23:34] princemaple commented on #247
No worries @odiumediae , everyone has this kind of moments every now and then.

[2017-01-17 23:42] #247 closed

[2017-01-18 18:08] justinbkay opened #248 "Mailgun Adapter not working in production"
I'm using the mailgun adapter, which works fine on my dev machine.  I'm using exrm to build for production and I can't get the email to send in production.  I get a connect_timeout. I hope that @princemaple might have some insight...

<pre>
=CRASH REPORT==== 18-Jan-2017::13:06:15 ===
  crasher:
    initial call: Elixir.Bamboo.TaskSupervisorStrategy:-deliver_later/3-fun-0-/0
    pid: <0.4026.0>

[2017-01-18 21:17] princemaple commented on #248
Hi, the error message doesn't provide much information.

When it comes to"production" there are too many possible ways that you could fail... I can't guess.

Have you at least tried to use a remote shell to test and make site your production network is working? (Security groups set properly for example)

[2017-01-18 21:41] justinbkay commented on #248
Yes, I can use curl to send a message via the mailgun api, so I know
networking is good.  I thought maybe there was something that you might
suggest to try and troubleshoot.

On Wed, Jan 18, 2017 at 2:17 PM, Po Chen <notifications@github.com> wrote:

--
Sites:
http://jbkayconstruction.com
http://www.robsonoutfitters.com
https://twitter.com/justinbkay

It always takes longer than you expect, even w

[2017-01-18 21:44] princemaple commented on #248
You could try and use a remote iex to get a closer look at the error. Other than that I'm useless. Also, I don't use releases, if that is what's causing the trouble, I'm even more useless :)
Maybe ask on slack in relevant channels.

[2017-01-18 21:45] justinbkay commented on #248
Ok, thanks.

On Wed, Jan 18, 2017 at 2:44 PM, Po Chen <notifications@github.com> wrote:

--
Sites:
http://jbkayconstruction.com
http://www.robsonoutfitters.com
https://twitter.com/justinbkay

It always takes longer than you expect, even when you take into account
Hofstadter’s Law.
- Hofstadter’s Law

[2017-01-18 21:49] paulcsmith commented on #248
I'm going to go ahead and close this because I think it is likely a problem with the production environment and not Bamboo. If that's not the case, feel free to reopen it or open a new issue.

And thanks for chiming in @princemaple!

[2017-01-18 21:49] #248 closed

[2017-01-19 19:06] justinbkay commented on #248
FYI, this issue seems to be related to an exrm release.  I tried the mailgun adapter and then the smtp adapter, both failed when deploying with exrm.  I did a manual build on the production system and it works as expected.

[2017-01-19 19:07] paulcsmith commented on #248
Awesome! Thanks for the update. I'm glad you got it working @justinbkay

[2017-01-21 17:53] asummers commented on #161
Hello, just curious if there's been any movement on this guy. This would be useful for our needs as well, as the ID returned from scheduling a Mandrill email for later using the header X-MC-SendAt header allows the scheduled message to be canceled using this ID. One can imagine the usefulness of being able to cancel "day before" emails on events that get canceled in some sort of ticket software, f

[2017-01-26 20:00] jsteiner opened #249 "LocalAdapter doesn't work on Heroku"
I get the following error when using the `LocalAdapter` on Heroku:

[code]

My best guess at what's happening here is that the path get's expanded for `__DIR__` [here](https://github.com/thoughtbot/bamboo/blob/a41ce9cc2c5639e830268a33268625fca669ef59/lib/bamboo/plug/email_preview_plug.ex#L74) at compile time, then Heroku moves the built app to another directory.

I tried to fix this a few differen

[2017-01-26 20:11] jsteiner commented on #249
Actually, I think I misunderstood how `function_from_file/5` works. It looks like the array of args just takes the names of the arguments. Not the values.

[2017-02-08 13:43] elvanja opened #252 "Q: Is it possible to switch adapters at run time?"
Found https://github.com/thoughtbot/bamboo/pull/170 which covers dynamic configuration but it reads config without the ability to override. What I'd need is the ability to switch providers for each email sent, depending on some custom rules. Thank you!

[2017-02-08 15:49] elvanja commented on #252
Never mind, I can create as many mailers as needed and just decide which one to use at appropriate time. The only thing missing is overriding certain aspects, so for example I don't need to create all the variations up front. Closing.

[2017-02-08 15:49] #252 closed

[2017-02-15 16:26] cjpwrs opened #253 "Add support for using the 'reply_to' property with SendGrid"
Hello,

I've been using bamboo with the SendGrid adapter for a few months now. I am working on a new project that requires that I make use of the `reply_to` property that SendGrid's API supports. I'm going to try working on a solution, but figured I would mention it here first in case I've overlooked anything that already exists for this. Thanks.

[2017-02-17 22:33] cjpwrs commented on #253
#254

[2017-02-19 10:07] Grafikart opened #255 "ShellAdapter"
This is a feature idea before doing a PR. Would you be interested by a shell adapter that would use

[code]

to send an email.

I'm working on a project that doesn't use SMTP and I have to create this adapter so tell me if you want a PR with such an adapter and how it should be named.

Thanks for your work

[2017-02-21 23:25] brandonparsons opened #256 "Example of DeliverLaterStrategy for Exq?"
Hi there,

Trying to send my emails in an `Exq` job queue (want the retry on failure behaviour).

Do you have any examples of how to accomplish this? I've tried doing a very naive port of your strategy examples, but am having trouble when it tries to JSON encode the `%Bamboo.Email{}` struct to store the job in Redis.

Have tried converting the struct to binary, but that's blowing up for other reas

[2017-02-23 18:02] paulcsmith commented on #256
I've never used `Exq`, but I imagine that you would want to store the data as JSON using `Poison`. So maybe something like:

[code]

Like I said, I'm not sure what Exq expects to receive and what it returns, but something like this might work. I'm going to close this for now, but feel free to comment on it. You may also want to try the Elixir Slack group or the Elixir forum.

[2017-02-23 18:02] #256 closed

[2017-02-23 18:04] paulcsmith commented on #255
Hi @Grafikart. That's a very interesting idea. In the future I'm going to split out all the adapters into their own repos. If you would like to add a shell adapter I recommend doing something like https://github.com/pablo-co/bamboo_postmark, releasing it to hex and then open a PR here on Bamboo so people know about it. You can follow the example of this PR: https://github.com/thoughtbot/bamboo/pul

[2017-02-23 18:04] #255 closed

[2017-02-24 16:08] paulcsmith commented on #249
Closed by #250

[2017-02-24 16:08] #249 closed

[2017-02-24 18:31] #141 closed

[2017-02-24 19:02] brandonparsons commented on #256
@paulcsmith Thanks for the reply.

`Bamboo` emails can't be cleanly encoded/decoded by `Poison`, I think due to the use of tuples for `to`/`from`.  Is there a standard approach for this?

[code]

[2017-02-24 19:23] paulcsmith commented on #256
@brandonparsons I would convert the tuple into another structure that Poison can handle. Something like this

[code]

And to decode you do the same thing in reverse where you convert the map to a tuple

[code]

Does that make sense? I think that should work

[2017-02-24 19:50] brandonparsons commented on #256
@paulcsmith Yeah that makes sense - thanks. I'll give it a shot. I was going down completely the wrong route (reasonably new to Elixir), and those {name, email} tuples were messing with me.

[2017-02-27 14:17] rawkode opened #257 "Regex Matching with `assert_delivered_with`"
Hi,

Really loving your library, so thanks for your hard work! :+1:

I am trying to test that some variables are being inserted into an email, with:
[code]
[code]

to prove that my `EEx` template has inserted the name correctly.

This doesn't seem to work, so I was hoping you'd be able to point me in the right direction?

Thanks

[2017-02-28 16:47] Grafikart opened #258 "Mailgun Adapter not sending parameters, lock hackney to 1.6.5"
Mailgun Adapter will throw an error when sending an email telling `'from' parameter is missing`, but I send this params

[code]

## Cause

hackney is used within the [Mailgun Adapter](https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/adapters/mailgun_adapter.ex#L86) and seems to duplicate the content-type header as described in this issue https://github.com/benoitc/hackney/issues/388. Ma

[2017-03-01 16:01] Grafikart commented on #258
Hackney new release solved this issue

[2017-03-01 16:01] #258 closed

[2017-03-01 16:02] paulcsmith commented on #258
Great news. Thanks for the update @Grafikart!

[2017-03-02 07:05] Moxide opened #259 "Issue with hackney 1.6.6"
Hello,
See [this HTTPoison issue.](https://github.com/edgurgel/httpoison/issues/226)
After an update, `Bamboo` stopped working. This was caused by `hackney` being updated to version 1.6.6, which has a bug.
The solution is to update `hackney` to 1.7.0. `HTTPoison` did this in its 0.11.1 release.

In my project, I overrode `hackney` version, but it would be great if Bamboo could update HTTPoison to

[2017-03-02 16:19] jbernardo95 commented on #259
@Moxide you mean `hackney` ?

[2017-03-02 16:25] jbernardo95 commented on #257
@rawkode `assert_delivered_with` does not accept regexes, it only accepts string to compare equality.

So partial checks like checking if the email's `text_body` has a certain word(s) is not possible. But I think this would definitely be a nice thing to add.

@paulcsmith What do you think ?

More details and examples here: https://hexdocs.pm/bamboo/Bamboo.Test.html#assert_delivered_with/1

[2017-03-02 16:42] paulcsmith commented on #257
@rawkode Thanks for the kind words! I'm glad you like it :)

That helper was designed to be used roughly like this

[code]

So maybe you could do

[code]

If the email generates something random so the email body isn't an exact match, you could make a helper function yourself by using [`Bamboo.Test.delivered_emails()`](https://github.com/thoughtbot/bamboo/blob/fe90aa68aeefdb181b25ba8910202e2c0918a

[2017-03-02 16:42] #257 closed

[2017-03-02 16:46] rawkode commented on #257
Thanks, @paulcsmith; that certainly helps.

I'll try and implement this and get you a PR :smile:

[2017-03-02 17:49] Moxide commented on #259
Ooops sorry,  I meant hackney to 1.7.0 ;-)

[2017-03-02 18:25] paulcsmith opened #261 "Add documentation for regex matching in test helper"
Add documentation for https://github.com/thoughtbot/bamboo/pull/260

Something like:

[code]

[2017-03-02 18:49] #261 closed

[2017-03-02 22:01] #259 closed

[2017-03-02 22:02] paulcsmith commented on #259
Thanks for reporting. The fix is on master :)

[2017-03-08 18:25] paulcsmith commented on #253
Closed by #254

[2017-03-08 18:25] #253 closed

[2017-03-08 21:19] mlaythe opened #264 "Allow app name in from"
[code]

How would I set my app name in the from function like shown above? I looked into Bamboo.Formatter, but would love a better explanation. Thanks!

[2017-03-08 21:25] paulcsmith commented on #264
@mlaythe You can do it like this: `from({"My App Name", "foo@bar.io"})`

Passing a tuple as an email address let's you set the name and email address. I hope that helps!

[2017-03-08 21:25] #264 closed

[2017-03-13 02:00] JamesLaiv commented on #223
@paulcsmith should I create PR from my fork repo?
https://github.com/tslcjames/bamboo/commit/d10fb1d51737d1b505de5462a2e25988f13744b4

[2017-03-13 02:03] tslcjames commented on #223
@paulcsmith should I create PR from my fork repo?
https://github.com/tslcjames/bamboo/commit/d10fb1d51737d1b505de5462a2e25988f13744b4

[2017-03-16 16:19] benrom commented on #258
The new Hackney release was published as 1.7, Bamboo still fetches this dependency version 1.6.6 which shows as `RETIRED`. Is it possible to change deps.get to `~>1.7` instead ?

[2017-03-18 19:25] genericlady opened #266 "Inconsistency with Nomenclature `Emails` or `Email`"
In the README the module of `Emails` is given as an example.

[code]

When in the docs for testing `Email` the singular form is used as an example.
https://hexdocs.pm/bamboo/Bamboo.Test.html
[code]

Personally, I think the Singular form is better compared to Plural. Should the README be updated to `Email`?

[2017-03-21 01:53] pradhyu commented on #53
This would be a great feature to add

[2017-03-23 19:27] paulcsmith commented on #266
I don't have a strong preference either way, but you are 100% right that making them consistent would be better. Would you mind opening a PR to go with `Email`? If not LMK and I'll tackle it or add a label so someone else can give it a try.

Thanks for reporting this!

[2017-03-24 02:07] genericlady commented on #266
@paulcsmith Thanks, I'd be happy to open a PR for it Friday. 👍

[2017-03-27 20:05] genericlady commented on #266
@paulcsmith hey, I found this in the readme `MyApp.Register(user)` it seems like erlang syntax. Shouldn't it be something like `MyApp.Register.run(user)`.

[2017-04-03 21:23] paulcsmith commented on #266
Closed by #270

[2017-04-03 21:24] #266 closed

[2017-04-04 15:53] genericlady opened #274 "Create New Sparkpost Adapter"
I'm having problems with the existing SparkPostAdapter project and it uses an old version of elixir and bamboo. I'm writing my own with tests to debug the problem I'm having. I keep getting an html response of 301 moved whenever I use bamboo with sparkpost. When I use sparkposts' elixir library it all works fine. So it can't be my credentials or their service. Hopefully, the new sparkpost adapter

[2017-04-07 20:39] paulcsmith commented on #274
@genericlady I commented on the PR. It's totally fine that you opened it first :)

You may want to open an issue on the SparkPost adapter Repo as they will know how to help more. I've never used Sparkpost so sadly, I'm not in a position to help with it. Feel free to comment here even after I close this

[2017-04-07 20:39] #274 closed

[2017-04-07 21:21] genericlady commented on #274
@paulcsmith Thanks so much, you're so kind!

I will do exactly what you say, open issues against SparkPost adapter repo and help out there. Have a good weekend!

[2017-04-13 17:40] dvanderbeek opened #278 "SendGridAdapter not available"
I'm getting an Internal Server Error when attempting to send via SendGrid on Heroku. Logs show this message:

[code]

It does not error out when I try switching to Mailgun, but I would like to use SendGrid if possible.

[2017-04-13 17:42] paulcsmith commented on #278
@dvanderbeek Could you try using `Bamboo.SendgridAdapter` (note the lowercase g). The docs here on master are for the latest version of Bamboo. For the docs for the latest hex version, see these: https://hexdocs.pm/bamboo/0.8.0/readme.html

In there you will see that the adapter is spelled with a lower case `g`

LMK if that works for you :)

[2017-04-13 17:47] dvanderbeek commented on #278
@paulcsmith Yep, I just caught that and was about to update the issue here. Thanks for the quick reply!

[2017-04-13 17:50] paulcsmith commented on #278
You're welcome! I'm glad it's working now :)

[2017-04-13 17:50] #278 closed

[2017-04-17 14:39] luccasmaso opened #280 "Getting "Unexpected error" with Sendgrid Adapter"
I have created and tested my sendgrid api_key via curl and it works with directly with api v3. With the lib I've tried some other examples but I don't know what else I can do/test because the error is too generic.

Thanks

[code]

My `prod.exs` config:
[code]

Code:
[code]

[code]

[2017-04-17 15:23] #196 closed

[2017-04-17 17:19] paulcsmith commented on #258
Hi @benrom, I'm working on releasing 1.0 release candidate. There's a bunch of stuff in master not *quite* ready for a hex release. For now I would suggest using the master branch until the RC is out. I hope that helps a bit. Sorry for the delay!

[2017-04-18 13:16] benrom commented on #258
Hi @paulcsmith , ok I'm using master for now. Looking forward to this new release!

[2017-04-21 07:41] Jesterovskiy opened #281 "Next release"
Hi. What we need for next release or maybe 1.0 version? Maybe some help needed

[2017-04-24 16:12] lonelyDog opened #282 "Dynamic SMTP configuration"
Hi!

Is it possible to specify SMTP configuration when I send mail. My issue is admin can change these parameters (like user name/password, SMTP port and so on) on the fly. Will be nice if i can provide configuration in deliver_now/deliver_later call (as second parameter). Or may be you can point me to different way to solve it?

Thanks

[2017-04-27 21:32] luccasmaso commented on #280
?

[2017-04-27 22:02] paulcsmith commented on #280
I would contact SendGrid support or post on the Elixir forums. That error SendGrid is returning seems very cryptic so I'm not sure what the problem is. It could be that it doesn't like the fake email, but I'm not sure

[2017-04-27 22:02] #280 closed

[2017-05-02 02:42] petejkim commented on #233
I ran into a similar issue recently, I ended up doing the following to get the `Bamboo.Email` struct:

[code]

[2017-05-05 14:39] paulcsmith commented on #281
Hi @Jesterovskiy! Thank you so much for asking to help. I have been sick and busy (not a good combo), but I'm pushing out 1.0rc1 later today! I'll post some issues with a "need help" label if there's anything you or someone else could help with :D

[2017-05-05 14:39] #281 closed

[2017-05-05 14:40] paulcsmith commented on #53
Closed by #156

[2017-05-05 14:40] #53 closed

[2017-05-05 14:40] paulcsmith commented on #53
Coming in the 1.0rc1 that I will try to push to hex today

[2017-05-05 14:51] davekapp commented on #53
That's awesome! Thank you so much!

[2017-05-08 14:51] sbrink opened #286 "Change attachment struct to support file data instead of filename"
I propose that we change the current `Attachement` struct before releasing version 1.0.

**Why?**

At the moment an attachment struct looks like this:

[code]

This only allows uploads from the file system, not dynamically generated contents.
An use case for generated contents would be `.ics` files. You want to append a
generated `.ics` file for adding an event to the user's calendar.

Furthermore

[2017-05-08 15:18] schurig commented on #286
+1

In most of my use cases I would use dynamically generated data that I wouldn't want to store on the hard disk before attaching them to outgoing emails. I think it makes sense to change the `Attachment` struct before releasing version 1.0 as @sbrink proposes.

[2017-05-08 15:21] paulcsmith commented on #286
Thank you so much for the suggestion.

I like this idea. I like option 1 of using two different functions, but I think `new_from_file` might make more sense since they are both attachments.

I'm not sure about doing the Base64 encoding outside the adapter because there may be adapters that don't need that.

Would one of you be willing to work on a PR for this?

[2017-05-09 04:22] andrewtimberlake commented on #286
I agree with this.
I made a change in my adapter to accept `{:binary, data}` in the path to allow for this (https://github.com/andrewtimberlake/bamboo_sparkpost/blob/feature/attachments/lib/bamboo/adapters/sparkpost_adapter.ex#L173)

[2017-05-09 14:18] paulcsmith opened #287 "Add a code of conduct"

[2017-05-15 15:04] sbrink commented on #286
I had no time last week. @schurig and I are working on it now.

[2017-05-15 15:47] paulcsmith commented on #286
You rock. Thank you!

[2017-05-19 14:51] schurig commented on #286
Hi everyone!
@sbrink and I were working on a version that

* [supports `|> put_attachment %Attachment{filename: "event.ics", data: "raw content.."}`](https://github.com/workshops-de/bamboo/blob/76779e9b7e97ec57278a2ffba8d45b805d09af7b/lib/bamboo/email.ex#L223-L225)
* [sets `Attachment.data` when using `|> put_attachment "/hi.jpg"` or `|> put_attachment %Plug{..}`](https://github.com/workshops-de/b

[2017-05-22 18:37] CrowdHailer opened #289 "Runtime configuration"
It would be helpful if bamboo could support the phoenix/distillery convention around reading configuration at runtime in releases.

i.e. in this example the API key is read from environment variables at runtime.

[code]

For more on this convention I'll just refer back to distillery
https://github.com/bitwalker/distillery/blob/master/docs/Runtime%20Configuration.md

[2017-05-22 18:59] richleland opened #290 "Design decision for SparkPost adapter"
Hi Thoughtbot team - I work on SparkPost's engineering team. I see that some adapters are built-in and others are external adapters. I'm trying to determine what approach you all want to see for adapters - built-in or external or blended like you have now.

I see there is a SparkPost adapter linked to that @andrewtimberlake built, which is awesome. I'd like to make some changes but based on the wa

[2017-05-22 19:03] paulcsmith commented on #290
Hi @richleland,

Thanks for reaching out. I'd like to keep adapters external to Bamboo. I just haven't had time to extract them to their own libraries. We are actively using Bamboo and I just released 1.0rc about a week ago.

I think the best way forward would be to work on @andrewtimberlake's SparkPost adapter or fork your own version. I'm happy to link to external adapters as I've done with Andr

[2017-05-22 19:03] #290 closed

[2017-05-22 19:03] paulcsmith commented on #289
I think this is a great idea since I'm sure others would like this. This is not something we need since we use Heroku, but if someone wants to take a crack at it, I'll merge it in.

[2017-05-22 19:07] CrowdHailer commented on #289
I have looked a bit further and it appears that the smtp_adapter already supports this for settings it uses. Which it turns out was what I really needed.

Still probably a good idea here too but not something I can address this month

[2017-05-22 19:07] paulcsmith commented on #289
Awesome! I'm glad that will work for you :)

[2017-05-22 19:41] richleland commented on #290
Perfect thanks for the quick response @paulcsmith.

[2017-05-22 21:32] paulcsmith commented on #286
@schurig It's hard to tell what changed, but from what I can see it looks great! Can you open up a PR so it's easier to see what changed and easier to leave comments. Thanks a ton!

[2017-06-04 12:14] jessica-jordan opened #295 "Fix dead link in the Sent Email Viewer section of the README"
*Current*
The link for the email viewer plug setup instructions found in this README section:
https://github.com/thoughtbot/bamboo#viewing-sent-emails
is pointing to an outdated version of the bamboo docs.

*Expected*
The link points to the new version at https://hexdocs.pm/bamboo/Bamboo.EmailPreviewPlug.html instead.

[2017-06-07 18:29] paulcsmith commented on #295
Explanation for closure here: https://github.com/thoughtbot/bamboo/pull/296#issuecomment-306884083 Sorry for the confusion!

[2017-06-07 18:29] #295 closed

[2017-06-07 21:06] jessica-jordan commented on #295
@paulcsmith Thanks for the update! Unfortunately, the link in the readme is still leading to a 404. Shouldn't this issue stay open then and the PR be improved to link to the properly named module in the hexdocs instead? Please let me know if the described link works for you in the current Readme or if this should be improved otherwise

[2017-06-07 21:27] paulcsmith commented on #295
Sorry I did not explain that well, if you go to the currently published docs on hex https://hexdocs.pm/bamboo/readme.html the link is to the correct module. The version here on master is for the beta, so the links won't necessarily work because it has not been released publicly yet. That's why there is a not at the beginning of the README directing people to check the docs on hex. Maybe I need to

[2017-06-07 21:32] paulcsmith commented on #295
Also I realize this can be a bit confusing. I think what I'm going to do in the future is keep a separate README-latest.md or something and move it to README.md once the docs have been published. That way people won't get confused. In the meantime though I'll keep it since the new version is getting close to release :D

[2017-06-08 15:41] MatUrbanski opened #297 "assert_delivered_email params"
Hello, I have simple mailer that looks like this:

[code]

In one of my controller action I'm using it to send the confirmation email. I have test that is testing that after record creation email is sended properly:

[code]
[code]

When I update my token method in AccountMailer to be a hardcoded string:
[code]

then test is passing. How can I solve this issue?

[2017-06-12 15:06] casio opened #299 "BambooMandrillAdapterApiError - Process #PID<> terminating: :timeout"
Hey guys,

we're experiencing seemingly random errors in our production app with this stacktrace:
[code]

We're on `0.8.0` using the Mandrill adapter.
Have you maybe seen this elsewhere?
Or maybe, would an attempt to increase the `hackney` timeout options be a feasible attempt to workaround?

Thanks for a pointer!

[2017-06-16 15:25] sobbybutter commented on #297
There is a time component to the message that’s being signed within Phoenix.Token.sign/3. [https://github.com/phoenixframework/phoenix/blob/v1.2.4/lib/phoenix/token.ex#L97](url)

You call TattooBackend.Web.AccountMailer.token/1 twice, once in your controller (within AccountMailer.account_confirmation/1), and again at the bottom of your test. You’re not seeing the tokens match because the function

[2017-06-22 13:27] casio commented on #299
fwiw I tried to fix this by configuring `hackney` likes so:
`config :hackney, timeout: 150000, max_connections: 500`

didnt help - still getting the timeouts

however, we're using an umbrella app and I added the config in the app where `hackney` is explicitly started but which is not the app sending the mail. I'll also put it in the other app & report back here

[2017-06-28 03:03] technicalcapt opened #302 "Unable to set header Reply-To through BambooPostmarkAdapter"
So i am unable to put header `Reply-To` when using `BambooPostmarkAdapter`.
This is the error from Postmark api:
[code]
I am planning with a field `reply_to` in `Bamboo.Email`. Please take a look. Thank you!

[2017-06-28 20:14] paulcsmith commented on #299
@casio any luck? You may want to try the latest beta or use master branch. If I remember correctly we updated hackney. Maybe that'd fix it

[2017-07-03 13:22] jfcalvo opened #305 "Attach custom data variables with Mailgun adapter"
I don't see any clear way to set custom data variables to emails using the Mailgun adapter as defined on [Mailgun documentation](https://documentation.mailgun.com/en/latest/user_manual.html#attaching-data-to-messages)

The way to add these custom variables is defined in the documentation as follows:

[code]

It would be nice to have some way to pass additional parameters to the API request made by

[2017-07-04 08:16] jfcalvo commented on #305
@princemaple any ideas with this one?

[2017-07-04 10:16] princemaple commented on #305
Hi @jfcalvo I'm not a maintainer of bamboo.
You can send a PR to bamboo to add this particular functionality, which isn't very hard to implement.
Alternatively, you can use [Swoosh](https://github.com/swoosh/swoosh), which has this functionality implemented. https://github.com/swoosh/swoosh/blob/master/lib/swoosh/adapters/mailgun.ex#L77 You can use it by adding `%{custom_vars: ...}` to `provider_o

[2017-07-04 10:18] princemaple commented on #305
Swoosh also supports sending attachments in all adapters, including SMTP.

[2017-07-04 12:22] jfcalvo commented on #305
I have everything integrated with Bamboo at the moment so moving to Swoosh is not an option.

I have created a PR with the feature: https://github.com/thoughtbot/bamboo/pull/306

Thanks for your help @princemaple

[2017-07-13 20:48] schurig commented on #286
@paulcsmith this one can be closed I think 🎉 🌮

[2017-07-13 20:48] paulcsmith commented on #286
You're right, thank you!

[2017-07-13 20:48] #286 closed

[2017-07-14 15:44] brandonparsons commented on #256
Awesome @sickill. If the maintainers are open to it, I'd suggest just throwing what you have in your comment into the README under "Integration with Exq".

As a beginner to the Elixir ecosystem, this was a pretty early need for me, and it requires an understanding of quite a few concepts to get to that spot. Would be helpful!

[2017-07-27 08:37] punitcse commented on #256
Thanks @sickill really helpful 👍

[2017-08-01 20:56] bnns commented on #161
Here's my attempt (#308). It seemed easier to just expose the entire response in `%Email{response: response}` rather than deal with decoding JSON to find the id. This also allows handling different error cases. You can now do something like the following (works with `MandrillAdapter`)

[code]

[2017-08-02 01:17] coryodaniel opened #309 "Multi-tenant / dynamic email provider config"
I've been tinkering with my own email client for a project that needs to support multi-tenancy and/or dynamic configuration of the client... not so fun!

I found bamboo today and was curious if there is any desire to have support for dynamic configuration as a part of this library. I would be happy to contribute if others would find it useful...

May also address: https://github.com/thoughtbot/bam

[2017-08-08 08:59] kwando opened #311 ""Remove" and "Remove all" buttons in Bamboo.EmailPreviewPlug"

[2017-08-22 15:40] freiden commented on #187
@paulcsmith I'm using the version 0.8 of the library and I'm still seeing the warning fixed in #214 is it normal?

[2017-08-22 16:03] paulcsmith commented on #187
@freiden This should be fixed in the next release. I fix was just merged a couple hours ago https://github.com/thoughtbot/bamboo/pull/304 👍

[2017-08-22 16:04] paulcsmith commented on #187
Alternatively you could use master to get the latest stuff

[2017-08-25 02:17] mlaythe opened #313 "Sending in batches"
I'm trying to send over 100k emails efficiently, and I was wondering when I pass an array of emails to the `to` method, if it's actually sending it in batches or one-by-one. Thanks for all the help =)

ex. `new_email |> to(array_of_emails)`

[2017-08-25 07:31] freiden commented on #187
@paulcsmith Thanks I will

[2017-08-25 14:35] paulcsmith commented on #313
This partly depends on the adapter. On Mandrill for example, Bamboo will send just one API call, and Mandrill will send one email per person in the `to` field. I think most other APIs and adapters do this as well, but you'd need to check the API docs of your service to see how it handles the `to` field to be sure.

I hope that helps :)

[2017-08-25 14:35] #313 closed

[2017-09-01 11:38] decentname opened #314 "Update Sendgrid Adapter to support V3 api"
The sendgrid adapter currently supports v2 api. It should be updated to support v3 api that will add a whole bunch of new features to it.

[2017-09-14 15:16] asd1o2487c opened #316 "Phoenix.View.render_to_string raises for .text templates"
see https://github.com/phoenixframework/phoenix/issues/2498

[2017-09-14 15:20] asd1o2487c commented on #316
it was a bug in https://github.com/nurugger07/calliope

[2017-09-14 15:20] #316 closed

[2017-09-14 15:56] bjunc opened #317 "Render layout without view"
First, I'm new to Elixir and Phoenix, so apologies in advance for any seemingly obvious answers.

I am attempting to create a layout that can be used as a wrapper, but _without_ a view.  The Bamboo examples seem to imply this is possible, but my layout does not render when using `put_html_layout`.  The email simply sends `html_body` and `text_body` without the layout wrapper.  Instead, I need to u

[2017-09-18 10:11] waiting-for-dev commented on #196
Really nice and needed addition!! :+1:

However, I think it should have been better to go with the `{:error, _}` way. It is equally easy to forget to match the `{:error, _}` result that to rescue a possible exception. And, in both cases, an error would be logged. (In fact, I think it is easier to forget a rescue, because if you are using type specification you see the `:error` there).

In elixir a

[2017-10-02 14:05] dbernheisel opened #320 "Can't compile with Erlang 20.1"
I'm not positive it's because of Erlang 20.1, however this issue started happening when I bumped a project to use Erlang 20.1 (which I need since I'm on macOS High Sierra).

[code]

raised from this line: `use Bamboo.Phoenix, view: MyApp.Email.ToCustomerView`

When I reverted back to using this commit: https://github.com/thoughtbot/bamboo/commit/69d7582ab3dd9973b57f10271328a79bd377b314 it worked f

[2017-10-02 20:55] voger commented on #320
I just had the same problem . Deleted the conditional and it compiled.

[2017-10-04 05:01] anthonator opened #322 "Should assign/3 be part of Bamboo.Email rather than Bamboo.Phoenix?"
Curious why `assign/3` is part of `Bamboo.Phoenix` and not `Bamboo.Email`. `Bamboo.Email` provides `assigns` as part of its struct so it seems like manipulating that value should be the responsibility of `Bamboo.Email`.

[2017-10-04 05:26] anthonator opened #323 "Better view support"
I'm curious if Bamboo has any plans on adding better view support. Currently, if you want to use views at all you need to piggyback off of Phoenix. This makes those of us not using Phoenix sad 🙁

Is there any interest in adding a generic view implementation to Bamboo?

[2017-10-12 06:24] technicalcapt commented on #320
@kelvinst Getting the same error. Do you have a fix for this issue?

[2017-10-12 12:53] kelvinst commented on #320
Well, I had some issues with Erlang 20 upgrade and docker, don't know if it's the same reason but give a check at the elixir forum thread: https://elixirforum.com/t/error-loading-module-poolboy-inside-a-docker-container/6611

[2017-10-18 18:00] jfcalvo commented on #305
PR #306 merged so closing the issue.

Thank you all.

[2017-10-18 18:00] #305 closed

[2017-10-20 18:33] dbernheisel opened #324 "Deprecate SendgridHelper links"
When 1.0 is published, remove `SendgridHelper` Readme link:
`[Bamboo.SendGridHelper](https://hexdocs.pm/bamboo/Bamboo.SendgridHelper.html)`

Keep the `SendGridHelper` link

[2017-10-24 06:20] antoniosb commented on #278
I'm getting this while trying to use `1.0.0-rc.1` with sendgrid:

[code]

[2017-10-29 23:15] happysalada commented on #278
this wrong spelling is still in the readme on master, people might still end up here.

[2017-11-02 04:39] #302 closed

[2017-11-04 16:06] rickclare commented on #320
We are experiencing the same issue (using Erlang v20.1.4 and Elixir 1.5.2).  Previous compile was working with Bamboo v1.0.0-rc.1,  but has starting failing in v1.0.0-rc.2

Firstly found it difficult to recreate in dev (was failing in our docker builds), but a fully clean in our dev environment reproduced the issue:

[code]

Was able to "solve" the issue, by compiling phoenix first, then compiling

[2017-11-07 20:09] Preen commented on #299
This is a killer for us :(

[2017-11-07 22:16] sebbean commented on #280
having same error

[2017-11-08 16:49] danschultzer commented on #320
This breaks our setup too. Phoenix isn't compiled before Bamboo, but the tests run successfully in this repo as Bamboo will always be compiled last. It seems that bamboo is broken on all Phoenix installations.

I suggest that the `Code.ensure_loaded?` conditional is removed. To fix the issues in #187, either other parts in `Bamboo.Phoenix` should be refactored, or the whole thing should just be mo

[2017-11-08 19:07] paulcsmith commented on #320
@danschultzer I think extracting a `bamboo_phoenix` lib is the best long term choice, but I'd love to get this fixed asap too. If you have a moment could you remove the outer `Code.ensure_loaded?(:phoenix)` to see if that fixes the issues. I'd rather have compile warnings than not having it compile at all :S

Then later on we can extract a bamboo_phoenix lib

[2017-11-08 19:34] paulcsmith commented on #299
I haven't seen this so I'm unsure how to fix. If someone finds a fix, please submit a PR for it. @casio Did that fix work for you?

[2017-11-08 19:39] danschultzer commented on #320
@paulcsmith I've submitted the PR 🚀

[2017-11-08 19:46] #320 closed

[2017-11-08 19:54] paulcsmith commented on #320
Going to close this and open an issue about extracting a `bamboo_phoenix` lib

[2017-11-08 19:54] paulcsmith opened #327 "Extract bamboo_phoenix lib"
This will make it easier to avoid compile issues like the one here: https://github.com/thoughtbot/bamboo/issues/320

[2017-11-08 23:48] Schultzer commented on #314
#293 fixed this.

[2017-11-09 02:47] paulcsmith commented on #314
Thanks for the comment @Schultzer. Closing now

[2017-11-09 02:47] #314 closed

[2017-11-09 03:00] coryodaniel commented on #309
I looked into this a bit today (got side tracked by life). It looks like Bamboo is already pretty close to supporting this. The configuration is “[built](https://github.com/thoughtbot/bamboo/blob/e51c9205e2a2a48d218e6f6dc56b58780bd719b3/lib/bamboo/mailer.ex#L238)” in the mailer module.

I think this could be as simple as creating a Bamboo.DynamicMailer that takes the configuration instead of build

[2017-11-09 04:48] coryodaniel commented on #309
Actually,  it’s probably even simpler to add another version of the delivery functions that accept An additional argument (the config) on the existing mailer module.

[2017-11-09 04:53] coryodaniel commented on #309
Actually this may just work calling the public undocumented `Bamboo.Mailer.deliver_later/3` and `Bamboo.Mailer.deliver_now/3`

[2017-11-09 05:40] #309 closed

[2017-11-09 05:44] coryodaniel commented on #282
@lonelyDog not sure if the functionality exists when you opened the ticket, but I opened a similar one. It exists, its just a little hidden. See my comment on #309

[2017-11-14 08:49] MvanDiemen opened #329 "Allow SendGrid Sandbox mode"
We are missing the sandbox mode for the sendgrid adapter. This is an extra block at the V3 request:

[code]
We build this in and have a PR ready (with tests of course):
[code]
And the tests:
[code]

I'd like to hear what you think and if a PR should be opened.

[2017-11-14 18:25] coryt opened #331 "Allow sending custom args through SendGrid adapter"
It looks like there is no way to send custom args through to SendGrid.

I would like to add support for this and it looks like it could be done by using the `private` map and exposing a function within the SendGridHelper to add custom args...

Thoughts?

[2017-11-14 19:04] coryt commented on #280
I also get this error. I've narrowed it down to something in the substitutions but I'm not sure what is the cause.

[2017-11-14 19:56] coryt opened #333 "SendGrid error sending substitutions"
This is currently broken in master and was working before PR https://github.com/thoughtbot/bamboo/pull/293.

The issue seems to be that the payload being sent to SendGrid is using array of substitution values:
`"substitutions":{"test":["value"]}`
but the payload should be:
`"substitutions":{"text":"value"}`

This results in a cryptic response from the SendGrid api:
`"{\"errors\":[{\"message\":\"Ba

[2017-11-14 20:36] coryt commented on #161
Any update on this issue? I also need this functionality to be able to track events from the SendGrid webhook. I can work around this by using CustomArgs but being able to track the raw message-id would be preferable.

If needed I can help out with this issue.

[2017-11-15 20:04] StevenXL commented on #161
@coryt Happy to pair with you on this. I haven't used Elixir in a long time, so would be nice to pair with an experienced person on it. If that sounds like something you'd be interested in, please let me know how to contact you and we can work out the logistics.

[2017-11-16 20:39] coryt opened #335 "Allow sending categories through SendGrid adapter"
Similar to https://github.com/thoughtbot/bamboo/issues/331, it looks like there is no way to send categories through to SendGrid. Allowing categories to be sent is needed to collect stats via the `category stats` api.

I will take the same approach to implement this feature as in my above open issue unless there is a better way to add this.

[2017-11-19 18:20] dsignr commented on #278
^I ended up here because the readme has it wrong.

[2017-11-23 22:37] sn3p opened #340 "CSS inliner tool compatible with Bamboo?"
Is anyone familiar with a CSS inliner that can be used together with Bamboo?
I found [Premailex](https://github.com/danschultzer/premailex) and [Smoothie](https://github.com/jfrolich/smoothie), but haven't had the chance to try them out.

Rails has some gems that take care of this, although I don't have much experience with any of them:

- https://github.com/premailer/premailer
- https://github.co

[2017-12-31 22:28] alexparker opened #343 "Mailgun tagging (duplicate headers issue)"
### Expected:
[code]

### Current result:
[code]

Since the `headers` property of the %Bamboo.Email struct is a map, only the last of a header key gets written to the headers of the email.

[2018-01-08 22:07] kcurtin commented on #299
FYI pretty sure this is an issue in more recent versions of hackney where connections aren't being release.. I've ran into this problem in other elixir packages that depend on hackney.

I'm linking to a PR that attempted to address this but updating hackney did not full resolve the issues in my projects: https://github.com/benoitc/hackney/issues/420

[2018-01-14 13:06] shhavel opened #346 "Add callback to deliver_later/1"
Add callback function argument to `deliver_later/1` which is executed on successful email delivery:

[code]

This for example can be used to build a reliable messaging system that stores emails in the database, sends email and mark it sent after successful delivery. All failed message can be resent.

[2018-01-16 07:31] njwest opened #347 "Broken link in README.md"
Under Viewing Sent Emails in the ReadMe, the `See Bamboo.SentEmailViewerPlug` link is broken, redirects to the following 404-serving URL: https://hexdocs.pm/bamboo/Bamboo.SentEmailViewerPlug.html

[2018-01-29 22:16] apbendi commented on #335
Hey @coryt, we could use this too and I'm thinking of taking a stab at implementing it. Did you have any luck getting this working on your project? Cheers!

[2018-01-29 22:30] dnsbty commented on #347
That link will work once the docs are updated for 1.0. The readme for 0.8 has the correct current link:
https://github.com/thoughtbot/bamboo/tree/d0b23c017e7b14ba1e130d6bd188406d86aa66f8

[2018-01-30 16:15] paulcsmith commented on #347
@njwest Thanks for submitting. I'm going to push out a new release of 1.0 soon. Sorry for the hassle with the broken link

[2018-01-30 16:15] #347 closed

[2018-01-31 11:53] RicardoBrazao opened #349 "Test attachments locally with LocalAdapter"
Hi there,

I was looking at testing that the attachment is sent in an email, and was greeted with:
[code]

After looking at the code, and other the adapters that allow attachments, I can see that in the LocalAdapter there is a missing function
[code]
Is it the case that, if I add it to the LocalAdapter we could test the attachments locally? Or am I missing some more things that need to be done?

[2018-02-01 17:57] RobinClowers opened #350 "Email preview collapsed html preview"
When I use the email preview plug, the iframe that should show the html preview gets it's height set to 0, so I don't see the html version. If I change it in dev tools the email is there and rendering correctly.

[2018-02-06 17:23] coryt commented on #335
@apbendi yeah the PR I have open is working and I'm using it on my project without issue.

[2018-02-06 20:16] apbendi commented on #335
@coryt Thanks for the response and for your work on the PR! Much appreciated.

[2018-02-21 08:41] jhsbeat commented on #335
I hope the PR for this issue could be merged upstream and in use. :)

[2018-02-21 14:45] apbendi commented on #335
Hey @jhsbeat, you may want to reiterate your request on #339, which is the pull request where @coryt implemented this feature :)

[2018-02-27 22:03] #350 closed

[2018-03-01 16:38] JamieREvans commented on #324
This is the last item remaining in the 1.0 milestone. Is 1.0 ready to go? If so, I can open a PR to update this to get 1.0 rolling.

There are a number of important fixes in 1.0 and it's been a year since an official release, so let me know if there's anything else pending, I'd be happy to help.

[2018-03-13 14:45] drernie opened #353 "Does Bamboo support receiving emails?"
Or is it just sending? Would be nice if this was explicitly answered somewhere.

[2018-03-14 02:54] chingan-tsc opened #355 "deliver/2 shouldn't raise exception"
Hi I am currently using a Postmark adapter for Bamboo and I am noticing that `deliver_now/1` will raise an exception if something goes wrong, now AFAIC it might be confusing as functions that raise exception should be appended with a bang !.

I am proposing maybe we should have both `deliver_now!` and `deliver_now` in the spec that all the adapters can then respect the spec later on. What do you t

[2018-03-14 16:52] sn3p commented on #340
[premailex](https://github.com/danschultzer/premailex) works like a charm 🎉

[2018-03-14 16:52] #340 closed

[2018-03-14 21:12] andrewtimberlake commented on #353
Bamboo is just for sending email

[2018-03-15 19:37] JamieREvans commented on #324
@paulcsmith Any updates?

[2018-03-16 11:19] newstler commented on #227
How did you solve it? I'm stuck with the same problem

[2018-03-16 15:21] poops commented on #355
I came here to start the same discussion. Currently I have a script that bulk sends, and a timeout is throwing an exception and blocking the rest from sending. Wasn't expecting `deliver_now/1` to raise.

[2018-03-29 22:46] maryolivier opened #357 "As a developer using TestAdapter, would like way to access full html of sent emails"
My unit tests use TestAdapter, but I have a few integration test scenarios where I need to check the generated text within the email (not assert that there is an argument match), and I can only seemingly do this through the SentEmailViewerPlug, which requires the LocalAdapter.

Is there a way to check generated html of an email within TestAdapter?

[2018-04-03 08:38] fuelen opened #358 "Can't use with PowerAssert"
in test file
[code]
and I got the following error

[code]

I'd like to use PowerAssert in my tests, but I can't because of Bamboo.Test implementation

[2018-04-07 21:50] #353 closed

[2018-04-07 21:57] drernie opened #360 "Support for multiple "received" headers?"
`put_header` seems to generate a simple Map:
[code]
Thus, the only way to generate multiple `Received` headers is to vary the case, which is a bit odd.  RFC itself explicitly supports multiple Received headers:
https://tools.ietf.org/html/rfc822#section-4.3

        A copy of this field is added by each transport  service  that
        relays the message.  The information in the field can be quite

[2018-04-12 08:45] manukall commented on #333
I'm running into the same problem. do you plan to merge the associated PR?

[2018-04-13 16:32] Strayer commented on #333
As I already commented in the PR, I think this is fixed with https://github.com/thoughtbot/bamboo/pull/337

[2018-04-15 16:36] njwest opened #361 "Broken Links in Github Readme"
There are multiple broken links to Bamboo hexdocs in the Github Readme:

1. Sendgrid Helper doc link in Readme.md: **https://hexdocs.pm/bamboo/Bamboo.SendGridHelper.html**
- Should be: **https://hexdocs.pm/bamboo/Bamboo.SendgridHelper.html**

2. Send Emial Helper doc link in Readme.md: **https://hexdocs.pm/bamboo/Bamboo.SentEmailViewerPlug.html**
- Should be: **https://hexdocs.pm/bamboo/Bamboo.Sen

[2018-04-17 16:35] #333 closed

[2018-04-20 06:54] npac opened #364 "Creating in-memory mail attachments"
Recently I wrote a background service which monitors a database and sends emails about the status. Each email has an attached CSV file. I am not able to find an example on how to create such attachments without first creating files in the file system. There are examples on how to attach existing files to an email, but none showed how to create attachments in-memory.
I was able to achieve my goal b

[2018-04-30 21:49] antalvarenga commented on #247
I had the same problem. I think it this should be pointed in the docs

[2018-05-02 12:03] speeddragon opened #380 "Validating emails prior to send email"
Hi, I'm using bamboo and it is working great. I've notice that I didn't validate the email address before sending an email (or on register the email on the database).

Shouldn't bamboo provide some method to validate emails ? And also shouldn't that be used to validate the email before send ?

[2018-05-04 14:46] abitdodgy opened #383 "Failing integration tests"
I'm successfully using Bamboo in my app but I can't get some integration tests to pass. I'm using Phoenix 1.3 with Bamboo from master.

I've tested this in dev and it works fine. I can preview the emails.

Here are my tests:

[code]
Here is my config:

[code]
Using `shared: true` makes no difference. I'm getting the following error:

[code]

Ideas?

[2018-05-05 20:14] reallinfo opened #384 "New logo for bamboo"
Hello,  I wanted to a contribute and i designed a logo for bamboo. If you like this logo, I will send you a pr. If you have any other ideas, you can tell me. I hope you like it.

![bamboo](https://user-images.githubusercontent.com/36298335/39667233-e49c6476-50b9-11e8-9849-f49f576518aa.jpg)

[2018-05-08 17:48] paulcsmith commented on #384
@reallinfo Hey! This looks really great and I'd love to add it to the README. I have a few comments I'd love to try. What do you think of these:

* Change the width of `m`, maybe by reducing the white space between the arches?
* Taking out the circle and the top half of the "b" and making it at a right angle so it sticks straight up. I think that might make it a bit more versatile so it'll fit in

[2018-05-08 19:07] reallinfo commented on #384
Sure, I made a few designs. How do these look?

![bamboo](https://user-images.githubusercontent.com/36298335/39777331-efa2d9b4-530b-11e8-8f3f-03af091036ad.jpg)

[2018-05-08 20:38] paulcsmith commented on #384
Oh I like number 1 a lot! Could you also try making the b the same size as the other b? I think other than that this looks great!

[2018-05-08 20:53] reallinfo commented on #384
Yeah, How is that? :)

![bambo](https://user-images.githubusercontent.com/36298335/39782421-cd88a228-531a-11e8-96e3-b5b9f6268ab5.jpg)

[2018-05-08 20:59] paulcsmith commented on #384
This is looking great. I'm being *super* nitpicky, but how would it look to trim the stem of the first be a bit so the height is the same as the second one?

[2018-05-08 22:10] reallinfo commented on #384
Np. I made a few more designs to find what you want.

![bamboooooo](https://user-images.githubusercontent.com/36298335/39785613-83a859d6-5325-11e8-9711-01669077d1f4.jpg)

[2018-05-17 18:16] bartoszgorka commented on #383
Hi @abitdodgy
You should call one of `deliver_now/1` or `deliver_later/1` function.

Your function `password_reset_email` generated only `Bamboo.Email` structure with filled details about template, html_body, recipients but not sent it.

If you want send email - you should also add `Paper.Mailer.deliver_later()` (or of course `Paper.Mailer.deliver_now()` to `password_reset_email` or where you want

[2018-05-21 16:14] abitdodgy commented on #383
@bartoszgorka the code in my context was delivering the emails. The problem was the config of the test adapter.

I had `config :paper, Paper.Mailer, adapter: Bamboo.LocalAdapter` under `config.exs` but needed to use `config :paper, Paper.Mailer, adapter: Bamboo.TestAdapter` in test.exs.

Thanks for pointing that out.

[2018-05-21 16:15] abitdodgy commented on #383
An aside, I think it would be worth mentioning this in the docs.

[2018-05-21 16:15] #383 closed

[2018-05-26 00:04] awochna commented on #355
I agree. Additionally, it's probably worth noting the Bamboo.TestAdapter doesn't have a clear way to help you test how your application will handle an exception being raised during delivery.

[2018-05-31 18:58] sescobb27 opened #394 "release candidate 3"
Hi, could it be possible if you make a new release with the new changes?

[2018-06-06 20:17] mnussbaumer opened #395 "Hex Docs outdated for Bamboo.EmailPreviewPlug"
Hi, I just noticed that the docs in hex refer to `Bamboo.EmailPreviewPlug` which doesn't work as it's `Bamboo.SentEmailViewerPlug` if I'm correct?

I can file a PR but I haven't found the docs anywhere to do it?

[2018-06-11 13:04] julien-leclercq opened #397 "What is the best way to introduce internationalization"

[2018-06-11 13:49] julien-leclercq opened #398 "What is the best way to introduce internationalization"
Hi !

I am working on an app using your lib for email rendering and we need to support multiples languages for rendering.

Here is the current code we use
[code]

The problem is that `String.to_atom` is a known risky practice so we want to get rid of it, on the other hand `Bamboo` renders both html and text only if the template name is an atom.
What is, for you, the best workaround ?

[2018-06-11 13:50] #397 closed

[2018-06-11 13:52] Betree commented on #398
Would a PR to make `render/2` accept a binary as a second parameter be accepted ?

[2018-06-12 04:17] brandonparsons commented on #394
Any chance of making this a real release? Rather than another RC

[2018-06-13 19:26] charedim opened #400 "attach files to email without saving content to local file"
I have some binary content and would like to attach to email

the simple way is:
[code]

is there a way attach files without saving them locally?
something like:
[code]

[2018-06-14 19:57] paulcsmith commented on #361
These should all be fixed now that Bamboo 1.0 is published

[2018-06-14 19:57] #361 closed

[2018-06-14 19:58] paulcsmith commented on #324
Bamboo 1.0 is out and the links should all work now!

[2018-06-14 19:58] #324 closed

[2018-06-15 17:54] joeyrosztoczy commented on #400
I found the ability to do this via digging in the source, would people be cool with it if I updated the source docs to show the %Bamboo.Attachment{} struct ability to do this, and add a blurb on it to the started README?

[2018-06-15 18:08] paulcsmith commented on #400
That'd be wonderful!

[2018-06-15 19:27] gullitmiranda commented on #329
@paulcsmith this issue has already been closed with the PR #367, alright?

[2018-06-16 19:53] denvaar opened #403 "How to handle email delivery failures"
I am using Bamboo to send account confirmation emails when someone creates an account. I'm using `deliver_later` to send emails in the background. In my application, an account is initially created as "inactive" until they use the confirmation link in the email.

I want to be able to handle the case where a fake email is used to create an account, because I don't want a bunch of fake stuff hanging

[2018-06-16 19:55] denvaar commented on #380
I think I have the same question as you: https://github.com/thoughtbot/bamboo/issues/403

[2018-06-25 14:22] #394 closed

[2018-06-25 17:51] nathanl opened #409 "Return values and exceptions for `Bamboo.Mailer.html.deliver_now/1`"
I'm using Bamboo with https://github.com/fewlinesco/bamboo_smtp.

[The docs for `Bamboo.Mailer.deliver_now/1`](https://hexdocs.pm/bamboo/Bamboo.Mailer.html#deliver_now/1) don't say what return value to expect in case of success or what return value or exception I should expect in case of failure.

My experiments say that on success, I'll get back a bare `%Bamboo.Email{}` (not wrapped in `{:ok, val

[2018-06-28 10:48] stefmona commented on #409
Would like to see something like that for Mandrill. 👍

[2018-07-02 20:05] codyjroberts commented on #355
Agreed. The option to have standard `{:ok, _}/{:error, _}` return values would be handy.

[2018-07-06 10:21] stefmona commented on #346
Have you try to use strategies:
https://github.com/thoughtbot/bamboo/blob/e8a80137f5ef221f7f98514b56b338f56c994f65/lib/bamboo/strategies/immediate_delivery_strategy.ex

[2018-07-11 08:01] GildedHonour opened #414 "Specify username/pass when sending an email - dynamically"
Depending on some conditions, I want to send emails from different usernames of the same server. Via smtp. How can I specify username/password   of my stmp server when sending an email? That is, not via config, but dynamically.

[2018-07-19 22:05] jeffmiller00 commented on #161
We would also like this issue -- we can also help pair / develop. What's outstanding in order to get this merged?

[2018-07-20 03:13] tomciopp opened #417 "Relax hackney dependency"
Currently the version of hackney is locked at ~> 1.12.1. The most recent version of hackney is 1.13 and I don't believe there are any conflicts. Could we bump to the most recent version?

[2018-07-23 08:52] MvanDiemen commented on #329
Ah sorry, yes this is fixed with #367, I'll close this issue.

[2018-07-23 08:52] #329 closed

[2018-07-31 17:03] marpo60 commented on #400
This should work:

[code]

[2018-08-01 21:43] k-cross commented on #289
I think you should close this, distillery docs don't recommend this method anymore. If anything, you should just write `"${MY_API_KEY}"` and use `REPLACE_OS_VARS=true` if you're building and deploying on different machines.

[2018-08-04 20:30] joshchernoff opened #420 "Bamboo.MailgunAdapter.put_reply_to/2 blows up because its setting a string and not an atom"
Setting `"h:Reply-To",`  via

[code]
https://github.com/thoughtbot/bamboo/blob/6f10c5887a58ec7c3ace8b1fa8fa6fb3d9bf5c1a/lib/bamboo/adapters/mailgun_adapter.ex#L105

this will blow up blowing up because `"h:Reply-To"` gets passed set as a string in body, the when Enum.filter runs key (ie `"h:Reply-To"`) is what  is passed to Atom.to_string(key) as seen here
[code]
https://github.com/thoughtbot/bamb

[2018-08-06 13:46] paulcsmith commented on #289
Thanks for the info @k-cross!

[2018-08-06 13:46] #289 closed

[2018-08-14 07:38] MvanDiemen commented on #417
Ping

[2018-08-15 18:31] tomciopp commented on #417
@paulcsmith Can we get a release for this?

[2018-08-15 18:56] paulcsmith commented on #417
New release is up 1.1.0!

[2018-08-31 08:34] ukutaht opened #429 "Sendgrid new vs legacy templates"
Hi,

I'm trying to use Bamboo with Sendgrid templates. When I select the template ID from sendgrid:
<img width="475" alt="screen shot 2018-08-31 at 11 33 50" src="https://user-images.githubusercontent.com/3731516/44902110-c79ffb80-ad11-11e8-9f17-803b308cc577.png">

And try to use that template with Bamboo:

<img width="567" alt="screen shot 2018-08-31 at 11 34 37" src="https://user-images.githubus

[2018-08-31 08:51] ukutaht commented on #429
Apologies. Pull request #426 addresses this issue.

Looking forward to getting it merged.

[2018-08-31 08:51] #429 closed

[2018-09-05 02:41] joshchernoff commented on #420
Fixed/closing

[2018-09-05 02:41] #420 closed

[2018-09-05 10:47] ijunaid8989 commented on #53
@paulcsmith is there any inline attachment options available?

[2018-09-05 13:03] ijunaid8989 opened #430 "Any options for inline attachments MailgunAdopter"
In past, we were using mailgun wrapper https://github.com/evercam/mailgun/commit/8c73ada08137ce875b487949167d60fecb1715dc and added inline attachment options by ourselves.

Now we are planning to switch to Bamboo, and I have done formal emails method conversion from mailgun to bamboo mailgun adopter but it's not sending inline attachments, Is there any option for that in bamboo?

For emails like

[2018-09-11 11:50] Sgoettschkes commented on #364
A way to do this is outlined in https://github.com/thoughtbot/bamboo/issues/400#issuecomment-409294935

[2018-09-11 12:06] Sgoettschkes commented on #349
I can't reproduce this bug. Even with the LocalAdapter it's possible to put attachments to the email but they don't show up in the local web interface.

[2018-09-19 13:44] atomkirk opened #433 "assert_email_delivered_with not working with multiple emails"
If I do

[code]

the email clearly appears in the list, but if I do:

[code]

it fails and prints a list without the email… I know for absolute certain the email is being sent and with the matching subject. I used the first snippet to write a test that works, but I figured this could be fixed

I assumed this is an issue when multiple emails get sent? Maybe it would work if only one was sent?

UPDA

[2018-09-24 13:34] lpvm opened #434 "Do MyApp.Mailer and MyApp.Email need to be in same dir of a Phoenix app?"
I'm trying to set MyApp (Orif) as:
[code]

But getting this error:
[code]

In the video tutorial, the two modules are set in different files, but not in different directories.
Can they live in separate directories?

[2018-09-24 14:36] lpvm commented on #434
The error has to be with the configuration that needs to be present in `config/config.exs`, for example,

[code]

[2018-10-03 07:33] DenisGorbachev opened #435 "Escape HTML in header values"
![image](https://user-images.githubusercontent.com/829578/46396219-4657d200-c6de-11e8-9473-7aa1b1f1e110.png)

Expected: `Reply-To: AirPick Support <support@localhost>`
Actual: `Reply-To: AirPick Support`
Reason: `<support@localhost>` is interpreted by the browser as HTML tag.

P.S. Thanks for working on the package, really appreciated.

[2018-10-17 17:15] claytongentry commented on #403
Would like to bump this issue.

We have tested a similar try / rescue flow using [Amazon SES Simulator inbox addresses](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/mailbox-simulator.html) and have found the adapter does not raise as we'd expect on deliveries to the faulty addresses, e.g. `bounce@simulator.amazonses.com`.

This makes it difficult to clean our lists of bouncing, suppressed

[2018-10-24 14:32] claytongentry commented on #403
Hey @denvaar, don't know if you're still having this issue but the solution we ended up going with is subscribing to bounce and complaint notifications via SNS.

https://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications-via-sns.html

[2018-10-31 05:59] mpugach opened #439 "extract Mailer as a standalone umbrella app and use Bamboo.SentEmailViewerPlug in Web app"
Hello

I would like to extract the mailer to a separate umbrella app

So it would be:
- main_app
- mailer
- web (phoenix)
- ...

But I stuck trying to expose `Bamboo.SentEmailViewerPlug` to `web`

Is there an easy way to see the emails in development for this kind of setup?

[2018-11-05 17:27] pradosh987 opened #440 "Make bamboo JSON encoder independent"
Now that Phoenix Framework 1.4 has moved to Jason for json encoder, bamboo should make itself json encoder independent. Both Jason and poison has almost similar api and it seems redundant to have two similar library in app.

[2018-11-08 02:31] robacarp commented on #278
A little update. If your reading this, the spelling needs to be SendGrid now.

Upgrading our app from Bamboo ~0.8 to ~> 1.1.0, the spellinG changed from Sendgrid to SendGrid.

We hit a similar error to the title of this issue and then dismissed it when "we had it right" because of the comment history (oops! 🤦‍♂️). At any rate, [as of a while ago](https://github.com/thoughtbot/bamboo/commit/6b582f8

[2018-11-08 23:16] mackshkatz commented on #429
@ukutaht I ran across the same issue as you, and thanks to your link found the fork that solves the issue, but I'm running into another problem. I'm unsure of what the rest of the pipeline needs to look like. It seems like if I don't call `render`, the email doesn't generate properly. But if I specify `render` along with `with_template`, it doesn't use the transactional template from sendgrid and

[2018-11-09 17:45] ukutaht commented on #429
@mackshkatz  this is all I do:
[code]

And send that off as is. I never call render on it. And I'm using this fork:
`{:bamboo, git: "https://github.com/Aleksion/bamboo.git"}`

[2018-11-09 17:53] mackshkatz commented on #429
@ukutaht thanks so much! I have a final question about your testing flow in your dev environment. Did you have to create an api key specifically for dev to actually use the templates? And then by testing, were your emails actually going out?

[2018-11-09 18:51] ukutaht commented on #429
@mackshkatz I don't really have the flow figured out. I did not create a specific key.

It's not the best solution but I don't really test the templates and content locally. The most I test locally is to see the `%Bamboo.Email{}` sent in the logs. I do some more real testing on staging with the real sendgrid API key.

I do want to come up with a flow that makes sense for local -> stage -> prod. Lu

[2018-11-10 02:04] #435 closed

[2018-11-10 18:52] mackshkatz commented on #429
@ukutaht Thanks for the response! Much appreciated.

[2018-11-10 19:18] mackshkatz commented on #278
@robacarp *you're :) Love you :)

[2018-11-14 20:59] blacksph3re commented on #403
Still it would be nice having this for any smtp service which doesn't support separate bounce/complaint notifications

[2018-11-15 05:46] mackshkatz commented on #429
@ukutaht In case this helps you, I came up with a solution for testing in whatever environment you are dealing with. You can create a custom strategy that essentially acts like a callback allowing you to hook into the email lifecycle, and right before delivering it, you can update the `to` field and that way you don't have to worry about actually sending emails to real users but still being able t

[2018-11-15 18:26] joshchernoff opened #441 "Read Me test section needs updating"
When trying to learn how I should be writing tests for emails I read the readme.

In the readme under testing
https://github.com/thoughtbot/bamboo/blob/master/README.md#testing

it states an example like so.
[code]

The `assert email.to == user` is misleading and fails to highlight there is a helper to address that as seen here https://github.com/thoughtbot/bamboo/blob/e2816b8a7fec5ff19b8fa5c28cbd

[2018-11-19 11:17] kelvinst commented on #221
I guess this can be closed since it's released right?

[2018-11-23 19:49] cbrewster opened #443 "Support Sendgrid Personalizations"
I need to be able to send out newsletters to a list of users. I would like to be able to use the same template and fill in info with substitutions on a per-user basis. Other users also should not be able to see the other recipients of the email in the `to` field. (See https://sendgrid.com/docs/for-developers/sending-email/personalizations/#sending-two-different-emails-to-two-different-groups-of-re

[2018-12-03 23:39] blacksph3re opened #444 "assert_email_delivered_with unintuitive test syntax"
To test on certain fields it requires a weird pattern matching, as the passed keywords are matched directly against the mail structure. This makes regex matching for these fields impossible, as the field of the mail structure is passed directly to regex.match

Concretely it is:

- from: `from: {nil: "from@address.com"}`
- html_body: `html_body: {:ok, "<some>html</some>"}`
- to: `to: [nil: "to@addr

[2018-12-06 05:59] sb8244 commented on #439
@mpugach in an umbrella app, are the different apps fully isolated? If so, you would need to cross the isolation boundary explicitly.

One option could be for your mailer app to expose the development viewer on a dedicated port.

[2018-12-06 08:06] mpugach commented on #439
@sb8244 do you mean my `mailer` app includes a web layer, so I have two web apps in my umbrella?

[2018-12-06 14:06] sb8244 commented on #439
That is how I would handle it, mainly because it's Dev only (can be configured at compile time) and avoids sending data across the boundary

[2018-12-07 16:06] jacruzca commented on #440
I just found this in the documentation:

    `config :bamboo, :json_library, SomeOtherLib`

I was able to test it successfully using Jason like this:

`config :bamboo, :json_library, Jason`

[2018-12-07 20:43] paulcsmith commented on #440
Yes this was added in #374. Thanks for mentioning the new option here @jacruzca!

[2018-12-07 20:43] #440 closed

[2018-12-10 16:37] bjunc opened #445 "SendGrid headers"
It doesn't appear that the SendGrid adapter supports headers.  Is that correct?  I see one-off support for a `reply-to`, but nothing anything else (eg. `X-Foo`).

Just to test my suspicion, I copied/modified the SendGridAdapter to merge `%Email{headers: headers}` into the body; which worked.  Happy to submit a PR, if headers are in-fact unsupported at the moment.

[2018-12-19 20:05] lasseebert commented on #440
I'm not sure this is out in the current version (1.1.0). At least in 1.1.0, Poison is still a required dependency.

[2019-01-17 21:09] talum opened #448 "Next Bamboo release?"
Hi!

Are there any plans to release the changes since August 15 on Hex? We would love to use the SendGrid dynamic templates functionality added in #426. (I see we can pull from master, but we'd appreciate the stability of a release.)

Thanks for your work on this 😄 .

[2019-01-24 19:07] cdfuller commented on #448
Looks like the main contributor, Paul, left thoughtbot for a new job.

@paulcsmith would you happen to know if anybody took over this project?

[2019-01-24 21:22] paulcsmith commented on #448
Thank you for pinging me! @germsvel could you post this internally to see if someone is interested in taking over?

I'd be happy to help with the transition. I think the main thing to do is release a new version.

The main support burden are the different adapters. I would consider extracting the individual adapters so that they can be maintained separately, preferably by someone in the community

[2019-01-25 16:21] germsvel commented on #448
@paulcsmith thanks for pinging me. I posted this internally to see if someone is interested. I have considered taking over myself, but I didn't want to commit and risk doing a bad job by spreading myself too thin. But I can definitely help with another deploy and maybe with the extracting

[2019-01-29 20:32] thadwoodman opened #449 "Key should be "filename" instead of "filname""
https://github.com/thoughtbot/bamboo/blob/23b8dc85d1cb095448e0f596759166fcc2caaf0c/lib/bamboo/email.ex#L217

[2019-01-30 11:42] germsvel commented on #448
Hi @talum, I just released [v1.2.0](https://github.com/thoughtbot/bamboo/blob/master/CHANGELOG.md#120---2019-01-30) of Bamboo. Thanks for opening this issue and bringing this to our attention!

[2019-01-30 11:42] #448 closed

[2019-01-30 15:59] talum commented on #448
Thank you so much! Very exciting.

[2019-02-15 18:57] ckoch-ncsa opened #451 "Response values from adapter (deliver_now) behavior"
Related to issue [#409]

When sending a message via some of the adapters, certainly Mandrill and SendGrid (possibly others), the email service API returns a unique message id as well as other service related metadata. Often these services will return some kind of message received status and return a list of errors in the case where something didn't go right.
This message_id and other metadata from

[2019-02-21 23:30] maymillerricci commented on #161
Sorry for the delay! I opened #452 which includes the response from the adapter's `deliver` call as an additional key in the `Email` struct returned from `deliver_now`, similar to #308 but not changing the type of what's returned. This should include the desired data from the various adapters. Let me know if you have any thoughts and whether you think it might resolves this!

[2019-02-26 22:10] maymillerricci commented on #449
Thanks for reporting! #454 fixes this.

[2019-02-26 22:10] #449 closed

[2019-02-26 22:35] maymillerricci commented on #395
@mnussbaumer Thanks for reporting! I wonder if you are looking at the docs for an outdated version? The current docs are [here](https://hexdocs.pm/bamboo/Bamboo.SentEmailViewerPlug.html).

[2019-02-26 23:33] maymillerricci commented on #441
@joshchernoff Thanks for reporting! Can you provide your code for the failing test and the email function definition? What are you passing in to the `to` in the email  function? The `assert_email_delivered_with` helper is meant to be used for integration tests in the case where an email would have been sent (like in the "after registering, the user gets a welcome email") example in the [README](ht

[2019-02-27 11:57] mnussbaumer commented on #395
@maymillerricci Looks fine! I honestly don't remember where I was looking at that time it's been a while
👍

[2019-02-27 18:01] maymillerricci commented on #395
Okay great! And sorry for the delay. 😄 I'm going to close this.

[2019-02-27 18:01] #395 closed

[2019-02-28 01:10] maymillerricci commented on #445
@bjunc Thanks for posting! Which header(s) are you looking to pass through? Or were you thinking of making it possible to pass anything through, that map to the `headers` parameter for the API call? I think `reply-to` has one-off handling since it maps to a specific `reply_to` param. In any case, please do open a PR if there's something you are wanting for this that we don't yet have!

[2019-03-01 01:05] maymillerricci commented on #443
@cbrewster Thanks for posting! This makes sense, and we would welcome a PR for it!

[2019-03-02 16:04] joshchernoff commented on #441
Its been a while so I will see if I can reproduce,

[2019-03-04 16:48] speeddragon opened #459 "Confusing example in hexdocs on assert_email_delivered_with"
There is [this example](https://hexdocs.pm/bamboo/Bamboo.Test.html#assert_email_delivered_with/1-example) on `assert_email_delivered_with`:

[code]

But `assert_email_delivered_with` has the arity of 1, and not 2. Is this a bug ?

[2019-03-05 22:11] maymillerricci commented on #459
@speeddragon You are correct - great catch! Feel free to open a PR to fix this documentation if you're up for it. Otherwise we will fix this soon. Thanks for reporting!

[2019-03-05 22:24] #221 closed

[2019-03-05 23:29] maymillerricci commented on #335
Closing this since #339 was merged.

[2019-03-05 23:29] #335 closed

[2019-03-05 23:42] k-cross opened #460 "Developer Inbox causes segmentation faults"
I wish I had more to go on than this, but I will update this issue as I get more info. It's happening to members of my team that run this in a vagrant box and I've been trying to get more and more info regarding the crash.

[2019-03-06 11:50] speeddragon commented on #459
Also was missing the `deliver` of the email. Just open the PR.

[2019-03-07 00:20] maymillerricci commented on #459
Resolved via #461. Thanks!

[2019-03-07 00:20] #459 closed

[2019-03-20 22:42] jasonandrewduncan commented on #433
Very similar issues. If code sends out multiple emails then assert_delivered_email doesn't seem to match any email I pass in. I my case the code send out an email to an external email address and a separate one to an internal as part of 1 operation.

[2019-03-27 18:41] egeersoz commented on #299
I run into this frequently when dealing with large attachments. I have a function that sends data to another service and receives a large (15 MB+) PDF file, which I then need to attach to an email and send via Bamboo. I get the PDF file without issues, but Bamboo times out while sending.

[2019-03-28 20:03] lancejjohnson commented on #444
@blacksph3re Thanks for submitting this issue recommending a possible improvement. Would you be willing to provide an example test that uses the syntax as it stands followed by the same test with the syntax that you're recommending? I think that will help clarify the request.

[2019-03-28 20:13] lancejjohnson commented on #434
@lpvm Is this still an issue for you? If so is it possible to provide a link to the full source code? Or at provide the content of your config files and your mailer and email files?

[2019-03-28 20:24] lancejjohnson commented on #380
@speeddragon Thanks for the question and recommendation for improvement. Can you describe in more detail what you mean by validating email addresses? Do you mean comparing the provided email address with some regular expression? Or do you mean validating the email address against a remote service?

[2019-03-29 19:03] speeddragon commented on #380
Looking back, I didn't add enough information to this issue, so know I don't remember exactly what was the problem. I think it was the email field wasn't checked against a regex for email validation. Either way, looking at #403 looks to be a good improvement and might solve this issue.

[2019-03-29 19:03] #380 closed

[2019-04-02 16:41] lancejjohnson commented on #441
@joshchernoff Some changes have been made to the README recently. Can you review [the testing section](https://github.com/thoughtbot/bamboo/#testing) and see if those changes address your concern?

[2019-04-02 16:54] lancejjohnson commented on #223
@tslcjames If this is still an issue, please feel free to open a pull request with your recommendation.

[2019-04-02 16:58] lancejjohnson commented on #282
I'm going to close this issue per the recommendation in #309. Please reopen if this is still an issue and that recommendation doesn't address the concern.

[2019-04-02 16:59] #282 closed

[2019-04-02 17:56] lancejjohnson commented on #209
Closing in light of the recommended solutions. Please reopen if this is still an issue.

[2019-04-02 17:56] #209 closed

[2019-04-02 17:58] lancejjohnson commented on #297
Since it's been a while that this issue has been opened, I hope you were able find a solution. I'll close this issue for now. Please let us know if this is still an issue.

[2019-04-02 17:58] #297 closed

[2019-04-02 18:01] lancejjohnson commented on #311
@kwando As this issue has been open for a while, I'm going to close it for now. If this is still something you're interested in, will you please provide more information on what you're requesting?

[2019-04-02 18:01] #311 closed

[2019-04-02 18:04] lancejjohnson commented on #317
@bjunc If you've been unable to find a solution to your question above, would you mind positing it on StackOverflow (https://stackoverflow.com/questions/tagged/elixir+bamboo)? It will get attention from more people than in this issue tracker. Thanks!

[2019-04-02 18:04] #317 closed

[2019-04-02 18:09] lancejjohnson commented on #331
@coryt If this is still an interest, please open a pull request with your recommended changes. Thanks!

[2019-04-02 18:11] lancejjohnson opened #469 "Allow mutliple headers with the same key"
See #360 and #343 for examples and use cases.

[2019-04-02 18:14] lancejjohnson commented on #343
@alexparker Thanks for the request. As this issue is variant on a theme, I've opened #469 to combine them into a single issue and am closing this issue to track it in one place.

[2019-04-02 18:14] #343 closed

[2019-04-02 18:15] lancejjohnson commented on #360
@drernie Thanks for the request. As this issue is variant on a theme, I've opened #469 to combine them into a single issue and am closing this issue to track it in one place.

[2019-04-02 18:15] #360 closed

[2019-04-02 18:24] lancejjohnson commented on #358
@fuelen Can you please send a pull request with your proposed changes? Thanks!

[2019-04-02 18:26] lancejjohnson commented on #400
@joeyrosztoczy Are you still interested in providing some documentation around this suggestion? If for, can you open a pull request with your recommended changes?

[2019-04-02 18:36] lancejjohnson opened #470 "Allow dynamic configuration in Mailer functions without directly calling through to `Bamboo.Mailer`"
See #309, #414, #282 for examples and use cases.

The current recommendation via #309 is to use the `Bamboo.Mailer` undocumented functions. As Bamboo discourages the use of direct calls to `Bamboo.Mailer`, it should provide the ability to accomplish this same task through the usable functions.

[2019-04-02 18:36] lancejjohnson commented on #414
Closing this issue for now as we've combined the request into a single issue (#470). Please see the recommended solution in #309.

[2019-04-02 18:43] kwando commented on #311
I think I wanted buttons for removing sent mails in the UI.
This is not important for me anymore, I’ve moved away from the ruby ecosystem.
Thx for your time!

[2019-04-02 18:43] lancejjohnson commented on #460
@k-cross I'm going to close this issue for now. Please feel free to re-open if you continue to experience this and can provide some steps to reproduce.

[2019-04-02 18:43] #460 closed

[2019-04-02 19:20] alexparker commented on #469
Any initial thoughts on this and possible approach? I'd love to help out with a pull request if you have some initial ideas to explore or suggestions.

[2019-04-03 00:33] sandeshsoni commented on #470
@lancejjohnson If we should not directly call functions of `Bamboo.Mailer`, should an another module be created that makes the call?

I am checking if I can help and will be happy to contribute!

[2019-04-03 17:17] #287 closed

[2019-04-03 17:22] lancejjohnson commented on #470
@sandeshsoni What I'm referring to above and probably should have clarified is that `deliver_now/1` and `deliver_later/1` on `Bamboo.Mailer` raise an exception. This is designed, I believe, to force you to define your own mailer (e.g. `MyApp.Mailer`) and use the macro `use Bamboo.Mailer` within it.  The recommendation above is to allow the work around (i.e. calling the undocumented 3 arity functio

[2019-04-08 11:15] tcoopman commented on #444
Some examples:

[code]

[2019-04-08 15:02] lancejjohnson commented on #469
@alexparker I started work on this as I had some time available. I've opened a WIP PR that you're welcome to take a look at, review, improve, etc. I've not touched any of the adapters with this change so figuring out how/when to do that is still necessary. I've tried to maintain backwards compatibility by adding behavior and making the current behavior the default option. Please feel free to take

[2019-04-10 14:15] lpvm commented on #434
You can close this issue @lancejjohnson

Thanks!

[2019-04-10 14:15] #434 closed

[2019-04-10 18:57] alexparker commented on #469
Aweome @lancejjohnson I started fiddling around with this yesterday, getting to know the code base https://github.com/thoughtbot/bamboo/compare/469-multiple-headers...alexparker:469-multiple-headers#diff-2a2f52b732e92f5dcc62d5bd29253ef0R228

Interesting to note if you _do_ get a list into the headers value, the `to_string(value)` ends up just concatenating the list (no commas)
But I'm wondering if

[2019-04-12 18:26] #451 closed

[2019-04-16 19:30] yuvalidan opened #474 "refute_delivered_email_with?"
Something like `refute_delivered_email_with` or the ability to pass options to `refute_delivered_email` would be super helpful. Currently I have a problem when testing emails where the html includes unique elements (like a timestamp or a token) because it would never match the email that's generated in the test.

I can make the affirmative tests work with `assert_email_delivered_with`, but have no

[2019-04-29 15:20] nallwhy opened #478 "Can't compile"
Elixir 1.8.1
erlang 21.1

[code]

I've tried `mix deps.clean --all` and removing `_build` folder.

[2019-04-29 23:06] #478 closed

[2019-04-29 23:06] nallwhy commented on #478
My wrong

[2019-05-01 04:25] tslcjames commented on #223
hi @lancejjohnson
sorry, just want to confirm, how should I setup proxy at current implementation?

[2019-05-06 04:57] michaelm244 commented on #445
@maymillerricci I have this same problem - the headers that I'm interested in passing through are `In-Reply-To` and `References`. This allows you to reply to an email directly, assuming you have the message-ID of the email you'd like to reply to.

I think it's better to allow the user of the library to define what headers they want to send, rather than build one-off support for each specific heade

[2019-05-06 18:12] bjunc commented on #445
Our use-case is similar. We're adding `In-Reply-To` as well as `References` to allow for message threading. We implemented something similar to the PR. Although, we simply put `put_headers` first in the pipeline so we don't worry about the `put_reply_to` (letting the user decide if they want to override the headers previously set).  For example:

[code]

Since the SendGrid docs go out of their way

[2019-05-14 00:25] sublimecoder opened #481 "Emails not sending from mix task"
I'm currently trying to run a mix task to send out some emails, and they aren't sending out. However when executed from `iex -S mix` they send properly, and all other transactional emails are sending through the application. If I kick off the email manually through the iex session the emails are sending so I know its correct and everything looks like it completed, just something isn't sending the

[2019-05-17 19:40] sublimecoder commented on #481
Found the issue I was using `deliver_later()` instead of `deliver_now()` once I swapped that out everything worked just fine. This could probably be detailed in the documentation as a specific instance where use one over the other is necessary.

[2019-05-17 19:40] #481 closed

[2019-05-24 16:30] churcho commented on #299
I am also getting this `(Bamboo.ApiError) :timeout`
Can't find a way around this. I am sending out large attachments.

[2019-05-30 16:50] abuiles opened #483 "Create a new release."
We have been using a custom fork to get the functionality added here https://github.com/thoughtbot/bamboo/commit/214f5f3e3be51e15d7c2d4c7449fe1d48a6aa472

Do you know when a new release will be out to include the changes linked above?

Thanks!

[2019-06-28 10:14] tmarkanov commented on #299
I took the liberty of forking the repo to resolve this issue, as I have had the same problem.
https://github.com/tmarkanov/bamboo

[2019-07-19 23:48] mstratman opened #492 "(feature) Support multiple tags for Mailgun"
I added a `MailgunHelper` with
 a `tag` function (https://github.com/thoughtbot/bamboo/pull/490), but it currently only supports a single tag.
([aa4a22](https://github.com/thoughtbot/bamboo/pull/490/commits/aa4a22956485642c93b47e108c3ffd7277aa5125#diff-312afa3cc0acebd25b646fb75f9c5878R18))

I believe https://github.com/thoughtbot/bamboo/issues/469 is a prerequisite. As far as I can tell, Mailgun o

[2019-07-20 20:22] a12e commented on #492
#469 is indeed a prerequisite because the headers are stored as a map in %Email{}, meaning each key is unique.

[2019-08-02 22:37] maymillerricci commented on #483
A new release is now out! [v1.3.0](https://hex.pm/packages/bamboo/1.3.0)

[2019-08-02 22:37] #483 closed

[2019-08-04 19:50] volkerholloh opened #495 "(Bamboo.NilRecipientsError) All recipients were set to nil. Must specify at least one recipient."
Hello,

I am trying to implement Bamboo in my project.

After the setup I run into this error message:
[code]

As you can see, the "to"-address is set to :nil.

That only happens when I pass a value like "notworking@example.com" to the Email.welcome_email(addressee) function. When I hard-code the "to" within Email.welcome_email function, everything works.

My implementation:

[code]

[code]

How I

[2019-08-05 21:41] volkerholloh commented on #495
Wow, that was a nice learning sessions!

It took quite some while, but then it dawned on me (after reading the Bamboo code in Mailer and Formatter), that I am sending the email address wrong.

When the user_params like `%{"confirm_password" => "password", "email" => "user@example.com", "password" => "password"}` are a map and you do

[code]
the result is nil. So I passed "nil" to the Email functio

[2019-08-05 21:41] #495 closed

[2019-09-21 00:10] stratigos commented on #470
I believe this is now satisfied by #497 on the latest `master`

[2019-09-21 00:10] #470 closed

[2019-10-08 22:03] bradleygolden opened #499 "Bamboo.Formatter:format_email_address throws type error with Elixir 1.9.1"
`Bamboo.Formatter:format_email_address` is throwing a type error after we upgrade to Elixir 1.9.1. This is happening because we've implemented the protocol `format_email_address` but we're not passing in any of the required `opts`. We don't have a need to specify the `type` as specified here https://github.com/thoughtbot/bamboo/blob/89845a829e15078e01fc654980c2c7f33e0b16bc/lib/bamboo/formatter.ex#

[2019-10-08 22:05] bradleygolden commented on #499
I'm happy to open up a PR if needed.

[2019-10-15 18:40] halostatue opened #500 "New release to support dynamic configuration?"
I have need of the functionality added in #497, but the last release was on August 2. I am willing to temporarily track git/master, but it would be useful to get this code released so that I don’t have to do so.

[2019-10-15 18:43] halostatue commented on #499
This could be done by doing `@type opts :: %{optional(:type) => :from | :to | :cc | :bcc}`.

[2019-10-16 18:21] cdvv7788 opened #501 "render on example raising error"
I am trying the examples at https://hexdocs.pm/bamboo/Bamboo.Phoenix.html
[code]
The issue is that I am getting `email.ex:11: undefined function render/2`
It works with:
[code]
Am I doing something wrong? Shouldn't the last argument be optional?

[2019-10-16 18:22] cdvv7788 commented on #501
Nvm, found the issue.

[2019-10-16 18:22] #501 closed

[2019-10-27 22:18] egeersoz opened #502 "Add attachment `content-disposition` and `content-id` fields"
SendGrid api has the following properties for emails:

https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

See the `disposition` and `content_id` properties under attachments.

These turn out to be pretty important when you're sending .ics files (calendar invites). By default SendGrid populates the disposition value with "attachment" if it isempty, but Microsoft Outlook requires it

[2019-11-07 14:45] brianbolnick opened #503 "Batch rendering/sending"
I’ve been checking through the docs and haven’t seen anything related to rendering or sending large batches of emails asynchronously. We are sending tens to hundreds of thousands of emails at a time and this would be a big performance win for us if it were possible.

[2019-12-15 10:18] Ivor opened #505 "Quick thoughts on returning {:ok, response} | {:error, response}"
Hi :) It's been interesting reading through the evolution of the `response: true` feature.

I want to match on the response from `deliver_now` to determine whether the email was successfully sent or not. Looking at the tests in `mailer_test` I see that your stubbed response contains this `%{status_code: status, headers: headers, body: response}` which seems to be what the Mandrill and SendGrid ada

[2019-12-17 18:13] validere-ben opened #506 "Allow configuration of receive timeout for assert_*, and refute_* functions"
# Context
We're currently running into issues with intermittent test failures in certain environments due to the hardcoded 100ms receive timeout on these test assertions.

Judging from https://github.com/thoughtbot/bamboo/pull/228 100ms being hardcoded seems quite arbitrary?

# Suggestions
Having a `:timeout` opt be added to these functions or adding `/2` variants allowing a timeout specification

[2019-12-18 21:55] parkerduckworth opened #507 "OAuth2 Integration"
Hello!

I currently use Bamboo with the `SMTPAdapter` to send emails from a gmail account.  This works fine, as long I enable access for "less secure apps" (LSA's) in gmail settings, which allows authentication through provided username and password.

I came across an [article on the G Suite Updates Blog](https://gsuiteupdates.googleblog.com/2019/12/less-secure-apps-oauth-google-username-password-

[2019-12-19 16:04] roostercrab opened #508 "No explanation of *where* to configure *real* email and password information for sending"
I have read all the documentation that I can find and watched all the screencasts and they all stop at how to TEST sending an email but none of them say where to configure your ACTUAL email address and password!

[2019-12-19 19:09] parkerduckworth commented on #508
Which Adaptor are you using?

[2019-12-19 21:05] roostercrab commented on #508
I'll be honest, I have no idea which one to use. I have tried SMTPAdapter because I have a Gmail account that I can use, but that's as far as I've gotten.

[2019-12-19 21:23] parkerduckworth commented on #508
I actually set up a service using the `SMTPAdapter` for Gmail this week.

You have to add `{:bamboo_smtp, "~> 2.1.0"}` as a separate dependency in your `mix.exs` file, then add `:bamboo_smtp` to the list inside your `application/0` function in `mix.exs` as well.

Then in the config file for whatever env you're developing in , add this code snippet, where you can insert your username/password for g

[2019-12-20 15:31] roostercrab commented on #508
Ok cool, I had gotten that exact setup and even went so far as to get an API key from my GSuites account. It looks like I won't need the API key, but I didn't know about the Less Secure Apps part of it.

Sorry for the frustrated wording in the heading, I am recovering from Stack Overflow's community still it seems...If you are able to write a more future proof version of this to connect to Gmail t

[2019-12-20 15:31] #508 closed

[2019-12-23 09:27] sunloverz commented on #280
Hi guys! I'm getting the same error, have you managed to fix this issue?

[2019-12-25 17:38] sunloverz opened #509 "It raises an error in production with version 1.3.0"
It works fine locally but it doesn't send reset password email on production. And it's not clear what is wrong since bamboo doesn't print error messages.
[code]

[2019-12-29 01:52] rakusan2 opened #512 "Failed HTTPS Request - upgrade to hackney 1.15.2"
This issue I am having is the same as edgurgel/httpoison#393
[code]

The same Fix works
And that is to upgrade hackney to 1.15.2

[2020-01-15 01:21] mattmatters opened #514 "Support amp email bodies"
Hey folks love the project! Sorry to hit you with a controversial feature request!

Since companies such as Mailgun and Sendgrid support amp emails, it would be nice to add the functionality to render amp templates.

Something along the lines of `amp_body` being added to `%Email{}` would be pretty useful for adapters to add this feature.

[2020-01-15 18:23] mmendez512 opened #515 "Is this project still being maintained?"
There are over 10 open PRs and over 40 open issues which begs the question: Has this project been abandoned?

If that's the case, I suggest you ask the community if another person(s) can take this over.

[2020-01-22 19:08] #507 closed

[2020-01-23 18:28] maymillerricci commented on #299
Just merged #498 which allows you to pass in `hackney_opts` for example for specifying timeouts. Hopefully this should resolve this! Feel free to re-open if it does not.

[2020-01-23 18:28] #299 closed

[2020-01-24 00:19] #414 closed

[2020-01-24 21:38] #500 closed

[2020-01-24 23:02] maymillerricci commented on #474
This was implemented in #484.

[2020-01-24 23:02] #474 closed

[2020-01-24 23:44] maymillerricci commented on #445
This was implemented in #479.

[2020-01-24 23:44] #445 closed

[2020-01-27 12:18] seivan opened #517 "Serve SentEmailViewer static assets from a plug instead of CDN"
Seems like [`normalize.css`](https://github.com/thoughtbot/bamboo/tree/master/lib/bamboo/plug/sent_email_viewer) is served from some CDN. I'm a bit uncomfortable with having assets that we don't control, it would be nice if there was an opt in feature to allow us to serve that ourselves from a custom plug

Maybe there could be a config like:
[code]

Then you could just serve the file from `/priv/s

[2020-01-27 12:28] seivan opened #518 "SentEmailViewer should work with with all adapters."
It would be nice if `SentEmailViewer` still worked with other adapters, maybe `LocalAdapter` could be an add-on and not just the only one used.

The rational is that we're using SES Mailbox Simulator for non prod environments, and would love to be able to use it while still having access to the `SentEmailViewer`.

My suggestion is that `LocalAdapter` should not be a replacement for an actual adapt

[2020-02-03 10:51] kelraf commented on #278
Thanks, @paulcsmith your solution saved my day.

[2020-03-04 19:47] dnsbty opened #520 "Show attachments in SentEmailViewer"
It would be great if the SentEmailViewer would also show attachments. I'm trying to debug some attachments right now, and it looks like I'll need to set up a different adapter for this.

[2020-03-12 08:29] spunkedy opened #522 "Advanced API key definitions for sendgrid."
It would be great to be able to do something like the way stripity_stripe does configurations.

https://hexdocs.pm/stripity_stripe/readme.html#configuration

[2020-03-12 08:31] spunkedy commented on #522
I did a first pass at the PR because I need to have this feature now. This works for me.

[2020-03-17 21:13] PaulOstazeski opened #524 "Link to example video does not resolve"
The link in the README to Josh's video on dailydrip no longer resolves, as dailydrip's DNS has expired.

[2020-03-26 19:58] joshchernoff commented on #441
Sorry, its been so long.

I've started to re-review this issue again and have public code to reproduce this issue.

First, to rule out an issue with versions I've been able to repro this on `{:bamboo, "~> 1.4"}` as of today

to see this issue please review:
https://github.com/PDX-Elixir-Group/elixir.group/blob/master/test/elixir_group_web/email_test.exs#L25-L34

[code]

If you notice the `assert e

[2020-03-26 20:47] joshchernoff commented on #441
After digging deeper I found the function in question that formats the email address to a KW list where the key is nil.

In short `
deliver_later > Bamboo.Mailer.deliver_later/2 > Bamboo.Mailer.deliver_later/3 > Bamboo.Mailer.validate_and_normalize/2 > Bamboo.Mailer.normalize_addresses/1 > Bamboo.Mailer.format/2 > Bamboo.Formatter.format_email_address/2 `

[code]

As we can see running Enum.map on

[2020-03-26 20:54] joshchernoff commented on #441
Maybe a call out to where you should be "sending" your emails could be a good thing to highlight in the readme. I see this only being an issue for people how find them selfs sending their emails as a part of their email composition which could be an anti-pattern but since I've not seen anything on this I'm not sure.

[2020-03-26 23:23] joshchernoff commented on #441
Over I think the readme update called out by @lancejjohnson addresses the issue, but I think more should still be done to callout that calling deliver or deliver_later will produce a newly formatted email where the shape of the data will change.

[2020-03-26 23:23] #441 closed

[2020-03-26 23:30] joshchernoff commented on #505
I 1+ this. Any beyond having deliver_now return a tuple I think any method whos default is to raise if not complete really should be named with a bang.

[2020-04-06 04:58] joshchernoff commented on #515
I was at one point about a year ago seeing some activity though I'm not sure if the same people are currently involved anymore.

[2020-04-10 04:19] spunkedy commented on #522
@andrewjensen I know these can be strange times, do you know if there is there a better way to communicate for this repo than github?

[2020-04-11 16:00] andrewjensen commented on #522
Hi @spunkedy, I'm not a maintainer on this project. My PR #519 was stale for a while, so I looked through the commit history and mentioned a few people that seemed to commit/comment frequently, which helped to get it reviewed and merged.

[2020-04-11 16:28] spunkedy commented on #522
Thanks! I appreciate it. I saw you get a merge in so I figured it would be
good to ask you.

On Sat, Apr 11, 2020 at 11:01 AM Andrew Jensen <notifications@github.com>
wrote:

[2020-04-11 16:29] spunkedy commented on #522
@maymillerricci  @cpytel

Would love to get feedback on my PR if it needs any improvement

[2020-04-29 18:17] tmpduarte opened #532 "After migrating from Phoenix 1.4 to 1.5 the render method started throwing errors"
We have a project running in Phoenix 1.4 and we migrated to 1.5. But as soon as we migrated we saw that the `render` method was throwing the following error:
[code]

we were using the following code:
[code]

and it worked until we migrated from 1.4 to 1.5.
After digging further into the Bamboo library I found this method which was being called:
[code]

This was forcing the use of a `text_and_html_

[2020-04-30 17:40] dantswain commented on #443
I would also like this feature.  I am willing to do a PR if I can get some indication that it will get attention - it's a little vague if this repo is getting active maintenance or not (see #515)

[2020-05-04 19:21] #524 closed

[2020-05-04 23:17] maymillerricci commented on #443
@dantswain We would welcome a PR for this. Thanks!

[2020-05-05 19:03] joshchernoff commented on #532
1.5 has changed the way it deals with layouts, that said I'm not having the same issues as you and I use `put_html_layout` and even forgo using `put_text_layout` without issue.

[code]

From the looks of it the error was telling you the problem.
`** (Phoenix.Template.UndefinedError) Could not render "text_and_html_email.html" for XYZWeb.LayoutView, please define a matching clause for render/2 or d

[2020-05-07 15:36] tmpduarte commented on #532
@joshchernoff thank you very much for taking the time to look into this. 🙏

I also don't know how this ever worked, I actually built a [simple demo using phoenix 1.5 and Bamboo](https://github.com/coletiv/elixir-bamboo-bug-reproduction) just to replicate the issue and to be able to share a full project containing an example.
I simply followed the readme from Bamboo and used the LocalAdapter to tes

[2020-05-07 18:33] maymillerricci commented on #532
@tmpduarte Thanks for the question and the sample app to reproduce! I think there's some confusion about where to put the email layout and template files.

If you want to do:
[code]
You'll want:
* *layout* files (that include `<%= @inner_content %>` to render the template if using Phoenix 1.5) called:
  * `lib/bamboo_example_web/templates/layout/email.html.eex` and
  * `lib/bamboo_example_web/temp

[2020-05-07 20:34] joshchernoff commented on #532
@tmpduarte all of your issues are the result of your failure to understand the layout is the wrapper and the template is the email in question.

Example:

If I started a new app in phoenix and used the generator to scaffold up something "lets say a blog post"

We would see that we have a layout `app.html` found in our layouts folder and a template for our posts index page found in  `template/posts

[2020-05-07 21:07] tmpduarte commented on #532
@maymillerricci & @joshchernoff thank you very much for all the time spent 🙏
Indeed I didn't properly understand the layout mechanism.

The only thing I am missing is how did it work in the previous version of Elixir. That would require me to setup another example project with Phoenix < 1.5 😄 if I have time I will try to reproduce that!

Once again thank you 🙏

[2020-05-07 21:07] #532 closed

[2020-05-24 13:30] nwessing opened #536 "SentEmailViewer allows HTML injection"
When rendering a text email, the SentEmailViewer will not escape the contents properly, allowing any markup in the email to be rendered as is.

[2020-05-26 12:42] ream88 opened #537 "Error using both custom config and response: true"
I recently stumbled upon the following issue when using the SMTPAdapter with both a custom `config:` map and the `response: true` flag: https://github.com/fewlinesco/bamboo_smtp/issues/142

As far as I understand the code now (I tried to create an integration test), it looks like this issue comes from Bamboo directly and not the SMTPAdapter. Does anybody from thoughbot know if these flags should b

[2020-06-01 18:05] #537 closed

[2020-06-01 18:42] #443 closed

[2020-06-10 16:51] IlyasM opened #540 "mailgun adapter not working in production"
Hi, I get the following error when app deployed to digital ocean

[error] Task #PID<0.559.0> started from #PID<0.560.0> terminating
** (Bamboo.ApiError) {:options, {:sslv3, {:versions, [:"tlsv1.2", :"tlsv1.1", :tlsv1, :sslv3]}}}
    (bamboo 1.5.0) lib/bamboo/api_error.ex:42: Bamboo.ApiError.raise_api_error/1
    (elixir 1.10.3) lib/task/supervised.ex:90: Task.Supervised.invoke_mfa/2
    (stdlib 3.

[2020-06-11 18:03] fuelen commented on #540
perhaps you have different erlang or openssl versions.

[2020-06-12 14:13] IlyasM commented on #540
yes, that was the issue. Locally on OTP22  everything worked fine. On OTP23 additionally had to,
   |> put_private(:hackney_options, ssl_options: [versions: [:"tlsv1.2"]])

[2020-06-12 14:13] #540 closed

[2020-06-12 21:36] lleger opened #541 "EEx rendering pipeline"
I have an umbrella app. The context app where the domain logic lives sends emails and the Phoenix app calls into the contexts and as a side effect sometimes emails are sent.

Using Bamboo with `Bamboo.Phoenix` violates the app boundary, since it requires the templates to be in the Phoenix app, but the mailer logic in the context app. It also means the context app has an unnecessary dependency on P

[2020-07-13 21:29] sergiotapia-papa opened #542 "HTTP 406 Not Acceptable - SendGrid sending email"
In our project we've started receiving these errors when trying to send any transactional email.

The params we send:

Did a Sendgrid API change break this package?

[2020-07-20 21:31] sergiotapia-papa commented on #542
![image](https://user-images.githubusercontent.com/52164116/87988678-bc454d00-caae-11ea-9217-0c651a90a090.png)

We're still seeing these HTTP 406 errors randomly.

[2020-07-21 12:18] germsvel commented on #515
👋 hi there! Thanks for the patience. The people who were maintaining Bamboo left thoughtbot. So I'm currently looking for a thoughtbot developer to take over maintenance of this project. If I can't find someone, I'll take over maintaining it.

In the meantime, feel free to ping me if there's something urgent. Otherwise, I hope to start triaging Bamboo issues and PRs in the near future. I've been v

[2020-07-21 12:18] #515 closed

[2020-07-21 12:24] germsvel commented on #542
Thanks for opening this @sergiotapia-papa. I wonder if others are seeing similar errors? Is there any more info you can provide about how to reproduce this error? I'm not sure I have much to go on.

[2020-07-21 12:26] germsvel commented on #536
Hi @nwessing, thanks for bringing this up. Do you have any examples that I could use to reproduce this?

[2020-07-21 12:29] germsvel commented on #520
This sounds like a great idea @dnsbty! If you or someone else is up for it, I'd love to see a PR for this.

[2020-07-21 12:45] germsvel commented on #518
Thanks for mentioning this @seivan . I'm not a 100% sure, but I think you could make this work already _as is_ by using [Bamboo.SentEmail](https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/sent_email.ex)? That's what the `LocalAdapter` uses, right?

So if you wrote your own adapter that uses `SentEmail` to store and fetch the emails, then you might be good to go? I know that's technicall

[2020-07-21 12:47] germsvel commented on #517
Hi @seivan, I think this optional configuration could make sense and we can fallback to the CDN. It would be nice for it to work out of the box without configuration. Of course if you don't add normalize, then the preview emails might look different or slightly broken. I'm not actually sure to what extent the preview styles rely on normalize.css.

[2020-07-21 13:27] sergiotapia-papa commented on #542
I'm going to create a custom strategy to log more information about the error and try to find a common thread.

[2020-07-21 13:56] germsvel commented on #542
Thank you! That would be so helpful.

[2020-07-21 14:27] dantswain commented on #515
@germsvel Thanks for the update!  Would you be willing to have non-thoughtbot help here?  I don't know how much we can commit, but my team recently started using bamboo for a big project and has interest in making sure it stays maintained.

[2020-07-21 14:38] germsvel commented on #515
@dantswain help is always welcome! I think thoughtbot projects tend to have a thoughtbot maintainer, so that's why I would like to find one internally. But even then, I think the role of the maintainer is to provide guidance and direction so the library is a cohesive unit, but I don't think of the maintainer as the only one who commits code on the project.

[2020-07-21 20:48] joshchernoff commented on #515
It can be very frustrating as a contributor if you don't think the maintainers are going to read your PRs and also when no one is addressing the correct way to contribute. An example: I added a small PR to address something very simple. Many other people also did the same after me, it would have been great to have someone address the redundant PR. But to make this worse the PR the was chosen didn'

[2020-07-22 16:21] germsvel commented on #506
Hi @validere-ben. Thank you for opening up this issue, and thanks for the patience! I think it'd be a great idea to make that timeout configurable by passing a `timeout` option. We can just keep 100ms as the default. I know it's been a while since you opened this issue, but if you're interested, I'd review a PR for this. Otherwise, thanks for the idea. Maybe someone else will come along and be int

[2020-07-27 21:30] sergiotapia-papa commented on #542
I'm still getting these errors and the custom strategy isn't giving any further information.

[code]

I'll need to reach out to sendgrid.

[2020-07-29 13:03] germsvel commented on #542
Thanks for keeping us informed @sergiotapia-papa! Let me know if Sendgrid is able to help.

[2020-07-31 12:47] germsvel commented on #514
Hey @mattmatters, thanks for opening this issues for discussion! I am not super familiar with amp emails (I know the concept but not how they work). Do you know of any resources that could helps us determine whether this is a good idea for the project?

[2020-07-31 12:54] germsvel commented on #512
Thanks for this info @rakusan2! I changed the title of the issue to (hopefully) make it more discoverable for others who run into this issue. Do you have a suggestion here for what to do with Bamboo or does it make sense to close this issue?

[2020-08-02 00:45] sergiotapia-papa commented on #542
@germsvel we needed to upgrade the bamboo package as a PR added the application/json header to the sendgrid strategy. Weird how some emails went through and some didn't though, on sendgrid's side.

[2020-08-03 12:27] germsvel commented on #542
Thanks so much for digging into it and letting us know the cause for those errors @sergiotapia-papa! Glad you got it resolved.

[2020-08-03 17:19] rakusan2 commented on #512
I would recommend bumping the minimum version of hackney to `1.15.2` since I and anyone else that encounters this issue will be overriding the version to such anyways.
benoitc/hackney#591

[2020-08-04 08:37] jatin759 commented on #542
@germsvel  @sergiotapia-papa hey, I am still getting the same error after updating deps as well. I am using `{:bamboo, github: "thoughtbot/bamboo"}` in deps and putting the header like this:  `email |> put_header("accept", "application/json")`

Am I doing anything wrong?

[2020-08-04 08:54] jatin759 opened #543 "[Reopened] Bamboo API error - 406 Not acceptable - Sendgrid API (#542)"
I am getting the same error as mentioned in #542
I tried upgrading the Bamboo package as mentioned in #542 but still getting the same error (some emails went through and some didn't).

I am using {:bamboo, github: "thoughtbot/bamboo"} in deps.

I tried both ways, with and without putting header : `put_header("accept", "application/json")` .

What might be causing it?

[2020-08-05 13:49] germsvel commented on #543
Hey @jatin759, I'm going to close this in favor of reopening #542. That way the conversation is all in one place.

[2020-08-05 13:49] #543 closed

[2020-08-05 13:59] germsvel commented on #542
@jatin759 I reopened this, but I'm not sure how else to help.

I _think_ the PR @sergiotapia-papa mentioned was  https://github.com/thoughtbot/bamboo/pull/529, where Bamboo added that header to the Sendgrid adapter. So, you might not need to add the `put_header("accept", "application/json")` if you're using a version of Bamboo that includes that commit.

Can you provide any other info about the er

[2020-08-05 16:47] sergiotapia-papa commented on #542
That is correct, we just had to upgrade the package and that fixed it for us.

[2020-08-10 23:10] camelpunch opened #544 "Default base URI for SendGrid doesn't match SendGrid docs"
I'm running a strict environment in Istio where all outbound traffic must be allowed explicitly. I had to read the source code of Bamboo to confirm it was using sendgrid.com and not api.sendgrid.com.

Although the former works, I imagine that SendGrid would want the flexibility to turn this off one day, and perhaps we should be using api.sendgrid.com instead?

See e.g. https://sendgrid.com/docs/fo

[2020-08-11 13:06] germsvel commented on #544
Thanks for opening this issues @camelpunch! It seems like that was changed when we adopted v3 of the api in [this commit](e8e981652998ac1af99b606d66acf10d848fca3d). But you're totally correct in that it seems we should be using the https://api.sendgrid.com/v3/ instead of what we're doing now.

I'd like to make sure that changing that url won't cause any breakages, but I can't imagine it doing so.

[2020-08-12 19:52] germsvel commented on #542
@jatin759 do you have any other information that might help us resolve this? Otherwise, it seems like the issue might be resolved by updating to the version of bamboo that has the correct headers.

[2020-08-12 19:59] germsvel commented on #522
Hi @spunkedy, thanks for opening this issue and the associated PR! I'm starting to do bamboo maintenance. I know May left a few comments on the PR. Would you be up for resolving those, and we can get that PR merged?

[2020-08-13 12:00] jatin759 commented on #542
@germsvel yes the issue has been resolved for now without making any changes that I mentioned while reopening this issue. I  am afraid if this may again come. Let's see how it goes.
Thanks @sergiotapia-papa @germsvel

[2020-08-13 13:02] germsvel commented on #542
Sounds good! Let us know if this comes up again. For now, I'll close this issue.

[2020-08-13 13:02] #542 closed

[2020-08-13 15:14] #544 closed

[2020-08-14 12:43] germsvel commented on #161
It seems that this issue was resolved by https://github.com/thoughtbot/bamboo/pull/466 returning the `{email, response}` if `response: true` is passed to `deliver_now/2`. I'll go ahead and close it, but if people feel like this hasn't been resolved, please let me know! Happy to reopen the issue.

[2020-08-14 12:43] #161 closed

[2020-08-17 12:22] germsvel commented on #541
Hi @lleger, thanks so much for opening this issue!

I've been trying to think about this for a little while, though I don't have a clear idea on whether or not this would be good to include in Bamboo. But I didn't want to leave this without a comment, because I have looked at it, and I'm thinking about it.

I definitely get the desire to separate the email templates from the web layer that Phoenix

[2020-08-17 12:24] germsvel commented on #509
Hi @sunloverz, thanks for opening this issue! I'm just starting to maintain Bamboo. Is this still an error that you're running into? Is there any other information you could provide so we can reproduce the error?

[2020-08-24 19:15] #522 closed

[2020-08-31 16:28] lleger commented on #541
Hi @germsvel! Sorry for the delayed response, you commented just about an hour before my daughter was born, so I'm just now seeing this!

The rendering portion is honestly pretty simple. It just uses [`EEx.function_from_file/5`](https://hexdocs.pm/eex/EEx.html#function_from_file/5). Then you can do something like `use Bamboo.EEx, root: "lib/my_app/email`. The `root` option here specifies the path

[2020-09-02 16:54] ruudk commented on #433
I'm having the same issue. I need to put the `assert_email_delivered_with` calls in the same order as the emails are being send. That is annoying, because for my integration test I don't know the ordering up front.

I would like to try and see if I can fix this. What would be the best approach to do this? Is this even possible? @germsvel If you could give some hints, I might be able to produce a P

[2020-09-08 12:39] germsvel commented on #541
@lleger congrats on the birth of your daughter! 🎉 🎊 🥳

I've been thinking about this issue, and I definitely see why it makes sense that Bamboo would have a way to render views without having to depend on Phoenix. I also learned that this has been requested before in https://github.com/thoughtbot/bamboo/issues/323. So I'm on board with introducing some view/eex rendering layer to Bamboo.

Thank yo

[2020-09-08 12:41] germsvel commented on #323
Hi @anthonator, I realize this issue has been open for quite some time. Thanks for the patience! I'm starting to maintain Bamboo, and I just wanted to let you know that this work might happen. If you're interested, there's a discussion in https://github.com/thoughtbot/bamboo/issues/323 (I saw that issue before I saw this one).

[2020-09-08 12:43] germsvel commented on #322
Hi @anthonator, thanks for this issue! I realize it's been quite some time, so thanks for the patience on both of the issues you opened. This is a good question. I wonder if this will get automatically resolved if we introduce a view layer/eex rendering pipeline via https://github.com/thoughtbot/bamboo/issues/541. I image we'll either have a new `assign/3` function for the new eex rendering layer

[2020-09-08 13:16] germsvel commented on #433
Hi @ruudk, thanks for the ping on this. I don't know that there is an easy fix to this. I took a peak at the implementation, and like other comments in this issue mention, we're using `assert_receive` which is grabbing the first email out and making sure the fields in that email match the fields we expect (like `from: "someone"`).

I think we could probably come up with a better implementation but

[2020-09-08 23:07] lleger commented on #541
@germsvel Thank you so much!

IMO we should ship with feature parity since it's very easy to get there. My first pass implementation was 85% parity, but because that's all I needed, not because there were technical hurdles.

The guiding principle I tried to follow was to get it to a 1-line diff. I.e., complete API cohesion. I was able to do it such that the diff looked like:

[code]

To get there,

[2020-09-09 08:49] ruudk commented on #433
I decided to do it like this instead:
[code]

This way, it uses Elixir pattern matching instead. It works.

[2020-09-09 12:21] germsvel commented on #541
@lleger

That sounds excellent! 🥳

I like the guiding principle you had in mind &mdash; making it a one line change for users. It makes sense that Bamboo.Phoenix functions will have to be abstracted. What do you think about a `Bamboo.View` module instead of `Bamboo.Template`? That remains familiar to users who use Phoenix, yet at the same time it's not confused with the actual HTML templates.

[2020-09-09 12:22] germsvel commented on #433
@ruudk yes! That's exactly what I'd like us to do in `assert_email_delivered_with`, but it's tough to know which parts to pattern match on. Or at least, I haven't thought it through enough. I'm glad you found that workaround for now. But I'll keep thinking about this. If you find a generic way to implement that, I'd love to hear it!

[2020-09-09 13:32] lleger commented on #541
@germsvel `Bamboo.View` sounds good to me!

[2020-09-10 13:26] germsvel commented on #505
Thanks for opening this issue @Ivor. I really like the idea of returning an ok/error tuple for `deliver_now` and adding a `!` for the raising errors. As I'm thinking this, I wonder if it makes sense to use ok/error tuples in regular scenarios and let `response: true` still be about the `response` that comes from the adapter. So we could change the api to something like this:

[code]

What do you t

[2020-09-10 13:32] Ivor commented on #505
Hi @germsvel

Your suggested change above looks great to me. Looking forward to seeing it in a future version.
Thanks!

[2020-09-11 10:34] PJUllrich opened #549 "Add assert_exactly_one_delivered_email/1 (or similar) to Bamboo.Test"
This is potentially a special use-case, but sometimes I need to test that an E-Mail was sent **exactly once** (to avoid sending duplicate E-Mails to customers for example).

As of now, I created myself a workaround like this:
[code]

If an E-Mail was sent twice, the `refute_delivered_email/1` assertion will receive that second E-Mail and fail.
My question is: Do you see a need for this workaround

[2020-09-15 08:44] marcinkoziej opened #550 "What would be needed to get bamboo_mailjet merged into bamboo?"
Hi!
I am using bamboo with bamboo_mailjet. It seems that the latter package maintaining is not active, and I thought maybe Mailjet adapter could be merged into bamboo package (just like SendGrid, Mandrill).
What would be needed to make this happen?
Is it desirable?
I'd be interested in contributing necessary changes

[2020-09-15 13:01] germsvel commented on #550
HI @marcinkoziej, thanks for opening this issue! I've only recently started maintaining Bamboo, but my inclination would be to not merge more adapters into Bamboo itself, especially if we don't have experience with them (I haven't used mail jet). I think adapters are great as standalone packages that can iterate as needed.

If the `bamboo_mailjet` package is unmaintained, have you considered reach

[2020-09-25 18:13] marcinkoziej commented on #550
I have asked there but no response so far.

[2020-10-04 20:20] hadfieldn commented on #520
I just submitted a PR for this: https://github.com/thoughtbot/bamboo/pull/553

[2020-10-08 07:20] pazaricha opened #555 "Minor errors in docs for SendGridAdapter/SendGridHelper"
Hi! Thanks for creating this great library.

I successfully integrated with SendGrid but during the integration, I found some minor issues in the SendGrid adapter docs.

On `lib/bamboo/adapters/send_grid_adapter.ex:22` a comma is missing in the config example.
On `lib/bamboo/adapters/send_grid_helper.ex:112` The example for the function `add_dynamic_field` is incorrectly saying to use another func

[2020-10-09 13:03] #536 closed

[2020-10-09 13:08] #555 closed

[2020-10-13 14:37] #520 closed

[2020-10-26 12:45] germsvel commented on #503
HI @brianbolnick, thanks for opening this issue. I'm taking over maintenance of Bamboo, so I'm trying to get through all the open issues.

I like the idea of batch sending emails. I'm curious about your thoughts on whether we'd rely on the email providers having APIs to send batches of emails or whether bamboo itself would have some way of batching the emails.

I'm also curious, what do you mean b

[2020-10-26 12:53] germsvel commented on #502
Hi @egeersoz, thanks for opening this issue and for the patience! I'm taking over maintenance of Bamboo and trying to go through all the issues.

Having the ability to set `content_disposition` to `%Bamboo.Attachment{}` makes sense to me and then mapping that to the `disposition` attribute in the `SendgridAdapter`.

If this is still of interest to you, I'd be happy to review a PR. Otherwise, I'll

[2020-10-26 13:02] germsvel commented on #499
Hi @bradleygolden, thanks for opening this issue, and thanks for the patience! I'm taking over maintenance of Bamboo and trying to go through all the issues.

I think what you mention here makes a lot of sense. It does seem like the `opts` type is too restrictive at the moment, and at the very least we should allow an empty map. I do like the `@type opts :: %{optional(:type) => :from | :to | :cc |

[2020-10-26 13:08] germsvel commented on #430
Hi @ijunaid8989 thanks so much for opening the issue and for the patience! I'm just starting to maintain Bamboo and trying to look through the open issues.

This seems related to https://github.com/thoughtbot/bamboo/issues/502. It seems like it might be good to allow people to set the `content_disposition` and then map that to the adapters as needed.

If this is still something of interest, let me

[2020-10-26 13:46] germsvel commented on #364
Hi @npac thanks for opening this issue, and thanks for the patience! I'm beginning to maintain Bamboo, so I'm going through all the issues.

it seems to me like this is something that is already possible in the way you described it: by passing a Bamboo attachment with `data` to the `put_attachment/2` function.

Did you have something else in mind when you say an in-memory mail attachment?

Also, I

[2020-10-26 13:49] germsvel commented on #400
This seems to be documented on https://hexdocs.pm/bamboo/Bamboo.Email.html#put_attachment/2. I'm not sure if that got added before or after this issue. But I'm going to close this since it seems resolved.

If I misunderstood and we should reopen this, please let me know! I'd be happy to do it.

[2020-10-26 13:49] #400 closed

[2020-10-26 13:51] germsvel commented on #357
Hi @maryolivier thanks for opening this issue and thanks for the patience. I'm beginning to maintain Bamboo, and I'm going through all the issues.

Is this still something you're interested in? If so, could you provide more context as to what you're trying to do with the full email? I'd be happy to review a PR if you feel up for it and if it's still relevant to you.